#submit, #submit1 {
	background-color: #fb1;
	border-color: #fbb904;
	color: black;
	margin-left: 35%;
	margin-top: 5%;
}

#submit:hover, #submit1:hover {
	border-radius: 27px 27px 27px 27px;
	transform: scale(1.2);
}

#form {
	align-content: center;
	background: #f1f1f1;
	border: 1px solid black;
	margin-left: 30%;
	width: 40%;
}

.alert {
	display: none;
}

h2 {
	margin-left: 10%;
}

h3 {
	text-align: center;
}

.fa-times {
	color: white;
}

tr:last-child {
	border-bottom: 1px solid black;
}

.userProfilContent {
	margin: 0 1em 1em 1em;
}

textarea {
	height: 70px !important;
}