#submit, #submit1 {
    margin-left: 35%;
    margin-top: 5%;
    background-color: #fbbb11;
    color: black;
    border-color:#fbb904;
}

#submit:hover, #submit1:hover
{
    border-radius: 27px 27px 27px 27px;
    transform: scale(1.2);
}

#form
{
    width: 40%;
    margin-left: 30%;
    background: #f1f1f1;
    border: 1px solid black;
    align-content: center;
}



.alert {
    display: none;
}


h2{
    margin-left: 10%;
}

h3{
    text-align: center;
}


.fa-times
{
    color: white;
}

tr:last-child{
    border-bottom: 1px solid black;
}

.userProfilContent {
    margin: 1em;
}