

.tab button {
	background-color: inherit;
	border: none;
	border-right: 1px solid #d0d0d0;
	cursor: pointer;
	float: left;
	outline: none;
	padding: 14px 16px;
	transition: 0.3s;
}

.tab button:hover {
	background-color: #ddd;
}

.tab button.active {
	background-color: #ccc;
}

.tabcontent {
	border: 1px solid #ccc;
	border-top: none;
	display: none;
	padding: 6px 12px;
}

#submit, #submit1 {
	background-color: #fb1;
	border-color: #fbb904;
	color: black;
	margin-left: 35%;
	margin-top: 5%;
}

#submit:hover, #submit1:hover {
	border-radius: 27px 27px 27px 27px;
	transform: scale(1.2);
}

h2 {
	margin-left: 10%;
}