@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;1,300&display=swap');

html {
    height: 100%;
    font-family: Roboto;
    font-size: 100%;
    overflow-y: scroll;
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
    letter-spacing: .6px !important;
}
body{
    font-family: "Roboto Thin";
    font-size: 16px;
}

.header_button:focus{
    outline: none;
}

.outerBox{
    margin-left: 2em;
}

.box {
margin-left: 3em;
}

.wrapper{
padding-left: 1em;
}

.wrapper{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(19rem, 1fr));
}


.wrapper > div{
    padding: 1em;
}

.filterDevices{

    height: 100px;
    margin: 20px;
}


.filterBox{
    float: left;
}

.deviceInfoBoxes{
    display: grid;
}

.deviceInfoBoxes.filter{
    margin-right: 10px;
    margin-left: 10px;
}

.deviceInfoBoxes:nth-child {
    color: #eee;
}

.inputBox{
    width: 350px;
    height: 26px;
}

#courseSelection{

}

.header_button {
    font-family: "Roboto Light";
    color: #555555;
    font-size: 16px;
    letter-spacing: .6px;
    height: 52px;
    border: none;
    background-color: transparent;
    outline: none;
}

.deviceInfoBoxes{
    width: 200px;
}

.test{
    display: grid;
    grid-column-gap: 20px;
    grid-template-areas:
            'box-a box-b box-c'
            'input-a input-b input-c ';
}

.input-a{
    grid-area: input-a;
}

.input-b{
    grid-area: input-b;
}

.input-c{
    grid-area: input-c;
}

.box-a{
    grid-area: box-a;
}
.box-b{
    grid-area: box-b;
}
.box-c{
    grid-area: box-c;
}

.hiddendeviceInfos
{
    display: none;
}


