/* The side navigation menu */
.sidenav {
    height: 100%;
    width: 18%;
    position: fixed;
    z-index: 1;
    top: 140px;
    left: 0;
    background-color: #faba31;
    overflow-x: hidden;
    padding-top: 20px;
}

/* The navigation menu links */
.sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color:  #0d0d0d;
    display: block;
    transition: 0.3s;
}

/* When you mouse over the navigation links, change their color */
.sidenav a:hover {
    color: #f1f1f1;
}

.sidenav .active
{
    text-decoration: underline;
}



/* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
}



/* Page content */
.main {
    margin-left: 20%; /* 450px */
    margin-right: 20;
}