/* The side navigation menu */
.sidenav {

    width: 15%;
    position: fixed;
    top: 120px;
    left: 0;
    overflow: hidden;
    padding-top: 20px;
}

/* The navigation menu links */
.sidenav a {
    padding: 5% 5% 5% 5% ;
    margin-top: 2.5%;
    margin-left: 10%;
    text-decoration: none;
    font-size: 156.25%;
    color:  #0d0d0d;
    background-color: #faba31;
    display: block;
    transition: 0.3s;
}

/* When you mouse over the navigation links, change their color */
.sidenav a:hover {
    color: #f1f1f1;
    transform: scale(1.2);
}


.sidenav .active
{
    transform: scale(1.1);
}
#picture
{
    padding-left: 20%;
 }

#picture i
{
    display: none;
    color: #fbb904;
}



/* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
}



/* Page content */
.main {
    margin-left: 20%; /* 450px */
    margin-right: 20%;
    text-align: justify;
}