.linkcontainer {
	border-radius: 27px;
	color: #0d0d0d;
	float: left;
	margin-left: 12%;
	margin-top: 10%;
	padding: 2.5%;
}

.images {
	height: 160px;
	width: 160px;
}

h3 {
	padding-top: 20%;
	text-align: center;
}

a {
	text-decoration: none;
}

#WebFAQ {
	display: none;
}

.linkcontainer:hover {
	transform: scale(1.02);
}


