.linkcontainer{
    float: left;
    margin-left: 12%;
    margin-top: 10%;
    padding: 2.5%;
    color: #0d0d0d;
    border-radius: 27px;


}

h3
{
    padding-top: 20%;
    text-align: center;
}

a
{
    text-decoration: none;
}

#WebFAQ{
  display: none;
}

.linkcontainer:hover {
   transform: scale(1.02);
}


