:root{
    --primary:  #faba31;
    --dark:     #fabd38;
    --yellow:   #fbbb11;
    --grey:     #f1f1f1;
}

html {
    margin: 0;
    padding: 0;
}

body {
    color: #0d0d0d;
    font-family: "acumin-pro", sans-serif;
    font-size: 100%;
    font-weight: 300;
    line-height: 190%;
    margin: 0;
    padding: 0;
}


header{
    background: /*var(--primary);*/  #fbbb11;
    border-bottom: 1px solid /*var(--dark)*/ #fbb904;
    height: 140px;
    margin: 0;
    padding: 0;
    width: 100%;
}

#menu {
    margin: 0 auto;
    max-width: 1900px;
    padding: 0;
}


/* Dallmann Logo*/
#header-logo {
    float: left;
    margin: 1.5% 0 3.0% 3.0%;
    width: auto;
}


/* Menu with "Reservierung", "Benutzerprofil", "Suche" und Logout */

#header-menu {
    float: left;
    margin: 1.5% 0 3.0% 3.0%;
    width: auto;
}


#main-menu ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.header-icons {
    height: 25px;
    width: 25px;
}

#header-Search {
    display: inline-block;
    width: 50%;
}

#main-menu li {
    display: inline-block;
    float: none;
    margin: 0;
    padding-right: 35px;
    position: relative;
    text-align: left;
    vertical-align: top;
}

#main-menu li:last-child {
    padding-right: 0;
}

#main-menu li a {
    color:#0d0d0d;
    font-size: 22px;
    font-weight: 600;
    height: 100px;
    line-height: 150px;
    text-decoration: none;
}

#main-menu li:hover a, #main-menu li.active a {
    transform: scale(1.02) ;
}

#main-menu li:hover .main-menu-sub {
    display: block;
}

#main-menu .main-menu-sub {
    border-top: 1px solid var(--grey);
    display: none;
    height: auto;
    list-style-type: none;
    margin: 0 0 0 -30px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    top: 140px;
    white-space: nowrap;
    width: auto;
    z-index: 99;
}

#main-menu .main-menu-sub > li {
    background: var(--grey); /*#f1f1f1;*/
    border-bottom: 1px solid #fff;
    display: block;
    float: none;
    padding: 0 30px;
    width: 100%;
}

#main-menu .main-menu-sub > li a {
    color: #0d0d0d;
    display: block;
    font-size: 22px;
    font-weight: 600;
    height: 5%;
    line-height: 50px;
    text-decoration: none;
}

#main-menu .main-menu-sub li:hover a, #main-menu .main-menu-sub li.active a {

    height: 5%;
    transform: scale(1.1);
}



.clear {
    height: 5%;
    transform: scale(1.1);
}

footer
{
    background: /*var(--primary)*/ #fbbb11 ;
    border-top: 1px solid /*var(--dark)*/ #fbb904;;
    bottom: 0;
    float: left;
    font-size: 16px;
    height: 5%;
    position: fixed;
    text-align: left;
    width: 100%;
}

.twovalues
{
    float: left;
    position: relative;
    width: 50%;
}


#footer-infos
{
    float: right;
    margin-right: 2%;
    margin-top: 1%;
}


#footer-caption
{
    float: left;
    margin-left: 2%;
    margin-top: 1%;
}

#footer-infos a
{
    color: black;
    height: 5%;
}

#footer-infos a:hover
{
    color: #0d0d0d;
    height: 5%;
}

/* Media Screens */

@media screen and (max-width: 1630px) {
    li p a {
        font-size: 30px;
    }

    #header-caption {
        float: left;
        font-size: small;
        margin: 2.5% 0 0 8%;
        width: auto;
    }

    .header-icons-description {
        display: none;

    }

    #main-menu .main-menu-sub > li a {
        color: #0d0d0d;
        display: block;
        font-size: 16px;
        font-weight: 600;
        height: 50px;
        line-height: 50px;
        margin-left: 1%;
        text-align: left;
        text-decoration: none;
    }
}

@media screen and (max-width: 900px) {
    #header-caption {
        display: none;
    }
}

@media screen and (max-width: 530px) {
    #header-logo {
        display: none;
    }
}

@media screen and (max-width: 607px ) {
    #header-logo
    {
        display: none;
    }


}
