#historycontent
{
    float: left;
    height: 100%;
    text-align: center;
    width: 50%;
}

#header-caption {
    float: left;
    font-size: medium;
    margin: 1.5% 0 3.0% 20%;
    width: auto;
}

#table
{
    margin: 5%;
    width: 100%;

}

#historyMap
{
    float: right;
    height: 100%;
    margin-right: 1%;
    margin-top: 0.5%;
    width: 45%;
}

/*#historyMap frame
{
    height:500px;
    width:100%;
}*/

@media screen and (max-width: 1630px)
{
    #table
    {
        margin: 5%;
        width: 800px;
    }

}

@media screen and (max-width: 1550px)
{
    #historyMap{
        height: auto;
        width: 30%;
    }
}


@media screen and (max-width: 900px)
{
    #historyMap
    {
        display: none;
    }

    #menu-caption , #select
    {
        margin-left: 55%;
        width: 100%;
    }

}

@media screen  and (max-width: 530px){

}

