html {
	margin: 0;
	overflow: hidden;
	padding: 0;
}

body {
	color: #0d0d0d;
	font-family: 'Roboto Thin', sans-serif;
	font-size: 100%;
	font-weight: 300;
	line-height: 190%;
	margin: 0;
	padding: 0;

}

main {
	margin: 0;
	position: relative;
}

.diagonal-box {
	background-image: linear-gradient(345deg, #808080, #fbbb11);
	height: 600px;
	left: 0;
	position: absolute;
	top: 550px;
	transform: skewY(25deg);

	width: 100%;
	z-index: -100;
}

.right-corner {
	background: #fff;
	height: 150px;
	left: 0;
	position: absolute;
	top: -70px;
	transform: skewY(4deg);
	width: 100%;
}

.left-corner {
	background: #fff;
	bottom: -120px;
	height: 350px;
	left: 0;
	position: absolute;
	transform: skewY(-6deg);
	width: 100%;
}

.grid-container {
	display: grid;
	grid-template-areas:    'side1 inner-grid side2';
	grid-template-columns: .1fr 1fr .1fr;
	height: auto;
	left: 0;

	margin: 0 auto;
	position: relative;
	right: 0;
	width: 100%;

}

.inner-grid {
	box-sizing: border-box;
	display: grid;
	gap: 30px 30px;
	grid-area: inner-grid;
	grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
	height: auto;
	justify-content: center;
	padding-top: 50px;
	text-align: center;
	width: 100%;
}

.side1 {
	grid-area: side1;
}

.side2 {
	grid-area: side2;
}

.box1 {
	background-image: url('../img/construction_3.jpg');
}

.box2 {
	background-image: url('../img/calendar.jpg');
}

.box3 {

	background-image: url('../img/user.jpeg');
}

.box4 {

	background-image: url('../img/scan.jpg');
}

.box5 {

	background-image: url('../img/magnifier.jpg');
}

.box6 {

	background-image: url('../img/users.jpg');
}

.inputBox {

	background-position: center center;
	background-repeat: no-repeat;
	background-size: cover;
	border-radius: 2em;
	height: 200px;
	text-align: center;
	vertical-align: middle;
	width: 1fr;
}

.wrapper {
	height: 100%;
	position: relative;
	width: 100%;
}

.textAlign {
	color: black;
	font-weight: bold;
	left: 50%;
	opacity: 1;
	pointer-events: none;
	position: absolute;
	top: 50%;
	-ms-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
	z-index: 99999;
}

.inputBoxImage {
	background-position: center center;
	background-repeat: no-repeat;
	background-size: cover;
	border-radius: 2em;
	height: 200px;
}

.hoverColor {
	background: #faba31;
	border-radius: 2em;
	height: 100%;
	object-fit: cover;
	opacity: 0;
	position: relative;
	width: 100%;
	z-index: 1;
}

.hoverColor:hover {
	opacity: .5;
}

.hoverColor:hover + .textAlign {
	opacity: 0;
}

@media screen and (max-width: 1023px) {

	html {
		overflow: visible;
	}

	.grid-container {

		gap: 20px 20px;
		grid-template-areas: ' inner-grid ';
		grid-template-columns:  1fr;

	}

	.side1 {
		display: none;
	}

	.side2 {
		display: none;
	}
}

@media screen and (max-width: 900px) {
	html {
		overflow: visible;
	}

	.inner-grid {
		gap: 10px;
	}
}

/**
@media screen and (min-width: 960px) and (max-width: 1023px) {

    .grid-container{

        gap: 20px 20px;
        grid-template-columns:  1fr ;
        grid-template-areas: " inner-grid ";

    }
    .side1{
        display: none;
    }
    .side2{
        display: none;
    }
}


@media screen and (min-width: 768px) and (max-width: 960px) {

    .inner-grid{
        margin: auto;
        grid-template-columns: repeat(2, minmax(400px, 450px));
        grid-template-rows: 3fr;

    }
    .side1{
        display: none;
    }
    .side2{
        display: none;
    }
}

/**
@media screen and (max-width: 767px) {
    .inner-grid{
        margin: auto;
        grid-template-columns: 1fr;
        grid-template-columns: repeat(, minmax(400px, 450px));
        grid-template-rows:6fr
    }
    .side1{
        display: none;
    }
    .side2{
        display: none;
    }
}