table {
	background-color: #faba31;
	border-radius: 27px;
	left: 40%;
	position: absolute;
	top: 20%;
}

th, tr, td {
	padding: 20px;
	text-align: center;
}

.searchInputs {
	background-color: #faba31;
	border-left: none;
	border-right: none;
	border-top: none;
	width: 100%;
}

.searchInputs:focus {
	outline: none;
}

option {
	background-color: white;
}