
#overview
{
    width: 20%;
    margin-left: 10%;
    margin-top: 6.0%;
    text-align: center;
    float: left;

}

#showDevices {border: 1px solid #fbbb12;background-color: #fbbb11;border-radius: 27px 27px 27px 27px;}
#reservations {border: 1px solid #f1f1f1;background-color: #f1f1f1;border-radius: 27px 27px 27px 27px;}
#search {border: 1px solid /*#284668;*/ #ffff4d;background-color: /*#284668;*/ #ffff4d;border-radius: 27px 27px 27px 27px;}
#picking {border: 1px solid #36b6e3; /*#4d4dff;*/background-color: #36b6e3; /*#4d4dff;*/border-radius: 27px 27px 27px 27px;}
#userProfil {border: 1px solid #0b9a2f;background-color: #0b9a2f;border-radius: 27px 27px 27px 27px;}
#userManagement {border: 1px solid #b3b3b3;background-color:#b3b3b3;border-radius: 27px 27px 27px 27px;}


 #overview:hover{
    transform: scale(1.02) ;
}


@media screen and (max-width: 1060px) {
    h3
    {
        display: none;
    }
}
@media screen and (max-width: 900px) {


}