body
{
    background-color: #f1f1f1;
}


#overview
{
    width: 20%;
    margin-left: 10%;
    margin-top: 2.0%;
    text-align: center;
    float: left;
}

#showDevices { border: 1px solid #fbbb12; background-color: #fbbb11; border-radius: 27px 27px 27px 27px;}
#reservations { border: 1px solid #f1f1f1; background-color: #f1f1f1; border-radius: 27px 27px 27px 27px;}
#search { border: 1px solid #0b9a2f; background-color: #0b9a2f; border-radius: 27px 27px 27px 27px;}
#picking { border: 1px solid #0b9a2f; background-color: #0b9a2f; border-radius: 27px 27px 27px 27px;}
#userProfil { border: 1px solid #0b9a2f; background-color: #0b9a2f; border-radius: 27px 27px 27px 27px;}
#overview-box5 { border: 1px solid #0b9a2f; background-color: #0b9a2f; border-radius: 27px 27px 27px 27px;}


 #overview:hover{
    transform: scale(1.02) ;
}



#link-box #link-box1 #link-box2
{
    border-top: 1px solid black;
    background-color: #fbbb11;
    border-radius: 0px 0px 27px 27px;

}


#link-box a
{

    text-decoration: none;
    color: black;
    margin:120px;
}
#link-box1 a
{

    text-decoration: none;
    color: black;
    margin:120px;
}
#link-box2 a
{

    text-decoration: none;
    color: black;
    margin:120px;
}

.Content-link a:hover
{

    color: black;
    border: none;

}


