
.overview
{
    float: left;
    margin-left: 10%;
    margin-top: 6.0%;
    text-align: center;
    width: 20%;
}

#showDevices {
    background-color: #fbbb11;
    border: 1px solid #fbbb12;
    border-radius: 27px;
}
#reservations {
    background-color: #f1f1f1;
    border: 1px solid #f1f1f1;
    border-radius:27px;
}
#search {
    background-color: /*#284668;*/ #ffff4d;
    border: 1px solid /*#284668;*/ #ffff4d;
    border-radius: 27px;}
#picking {
    background-color: #36b6e3; /*#4d4dff;*/
    border: 1px solid #36b6e3; /*#4d4dff;*/
    border-radius: 27px;
}
#userProfil {
    background-color: #0b9a2f;
    border: 1px solid #0b9a2f;
    border-radius: 27px;
}
#userManagement {
    background-color:#b3b3b3;
    border: 1px solid #b3b3b3;
    border-radius: 27px;
}


 #overview:hover{
    transform: scale(1.02) ;
}


@media screen and (max-width: 1060px) {
    h3
    {
        display: none;
    }
}
@media screen and (max-width: 900px) {


}