/**
AUTHOR Dominik Dziersan
@class css for the login, register, successregistration, email forgot, reset password
 */

body {
    background: #fffcfc;
    font-family: sans-serif;
    margin: 0;
    padding: 0;
}

.box1 {
    background: #fff;
    border: 0 solid #3498db;
    border-radius: 0;
    color: #757575;
    display: block;
    margin: 20px auto;
    outline: none;
    text-align: center;
    transition: .25s;
    width: 300px;

}

.logo {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 20%;
}

.h1 {
    text-align: center;
}

.a {

}

.footer {
    background-color: #e8f0fe;
    bottom: 0;
    color: #000;
    left: 0;
    position: fixed;
    text-align: center;
    width: 100%;
}

.box h1 {
    color: #000;
    display: block;
    font-weight: 200;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    text-transform: uppercase;
}

.box a {
    display: block;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

.box input[type = "text"], .box input[type = "password"] {
    background: #E8F0FE;
    border: 0px solid #fffcfc;
    border-radius: 5px;
    color: #000;
    display: block;
    font-size: 15px;
    margin: 20px auto;
    outline: #324aff solid 10px;
    outline: none;
    padding: 14px 10px;
    text-align: center;
    transition: .25s;
    width: 200px;
}

.box input[type = "text"]:focus, .box input[type = "password"]:focus {
    border-color: #e5e5e5;
    font-size: 20px;
    width: 230px;
}

.box input[type = "submit"] {
    background: #1c9dd9;
    border: 0;
    border-radius: 5px;
    color: #fffcfc;
    cursor: pointer;
    display: block;
    margin: 20px auto;
    outline: none;
    padding: 14px 40px;
    text-align: center;
    transition: 0.25s;
}

.box input[type = "submit"]:hover {
    background: #2ecc71;
}