<footer>
    <div id="wert1" class="twovalues">
        <p id="footer-caption">Softwareentwicklungsprojekt 2020</p>
    </div>
    <div id="wert2" class="twovalues">
        <p id="footer-infos"><a href="/FAQ">Support </a>|<a href="/">
                Lizenz</a>  </p>
    </div>
</footer>

