<footer>
    <div id="value1" class="twovalues">
        <p></p>
    </div>
    <div id="value2" class="twovalues">
        <p id="footerInfos"><a href="/FAQ">Support </a>|<a href="/">
                Lizenz</a></p>
    </div>
</footer>

