<header>
    <div id="menu">
        <div id="header-logo">
            <a href="home">
                <img src="img/Logo-Dallmann.png"
                     alt="Firmenlogo Dallmann"></a>
        </div>
        <div id="header-menu">
            <nav id="main-menu">
                <ul>
                    <li><% if (rights.view_device === 1){ %>
                        <a href="/devices">
                            <i class="fas fa-briefcase"></i>
                            <tab class="header-icons-description">Geräte</tab>
                        </a>
                            <% if (rights.add_device === 1){ %>
                        <ul class="main-menu-sub">
                            <li>
                                <a href="/addDevice">Gerät hinzufügen</a>
                            </li>
                        </ul>
                        <% }%>
                    </li>
                    <%} if (rights.booking_device === 1){ %>
                        <!-- Reservierung -->
                        <li>
                            <a href="/bookinglist">
                                <i class="fas fa-calendar-alt"></i>
                                <tab class="header-icons-description">
                                    Reservierung
                                </tab>
                            </a>
                            <ul class="main-menu-sub">
                                <li>
                                    <a href="/booking">
                                        Reservierung vornehmen
                                    </a>
                                </li>
                                <li>
                                    <a href="/bookinglist">
                                        Reservierungsliste einsehen
                                    </a>
                                </li>
                            </ul>

                        </li>
                    <% } %>
                    <!-- Benutzer -->
                    <li>
                        <a href="/profil">
                            <i class="fas fa-user"></i>
                            <tab class="header-icons-description">
                                <%= username %>
                            </tab>
                        </a>
                    </li>
                    <!-- Hinzufügen von Nutzern/Rechten -->
                    <% if (rights.add_user === 1 && rights.delete_user === 1){ %>
                        <li>
                            <a href="/userManagement">
                                <i class="fas fa-cogs"></i>
                                <tab class="header-icons-description">
                                    Benutzerverwaltung
                                </tab>
                            </a>
                            <ul class="main-menu-sub">
                                <% if(rights.add_user === 1) {%>
                                <li>
                                    <a href="/add">Nutzer anlegen</a>
                                </li>
                                    <% } if (rights.edit_user ===1){%>
                                <li>
                                    <a href="/update">Nutzerdaten ändern</a>
                                </li>
                                <% } %>
                            </ul>
                        </li>
                    <% } %>
                    <!-- Komissionieren -->
                    <% if ( rights.picking === 1 ) { %>
                        <li>
                            <a href="/picking">
                                <i class="fas fa-list"></i>
                                <tab class="header-icons-description">
                                    Komissonieren
                                </tab>
                            </a>
                        </li>
                    <% } %>

                    <!-- Suche -->
                    <li>
                        <a href="/search">
                            <i class="fas fa-search"></i>
                        </a>
                        <form action="/searchDevice" method="get">
                            <input type="text" name="test" >
                            <input type="submit">
                        </form>

                    </li>

                    <!-- Logout -->
                    <li>
                        <a href="/logout">
                            <i class="fas fa-power-off fa-1x"></i>
                            <tab class="header-icons-description">
                                Logout
                            </tab>
                        </a>
                    </li>
                </ul>
            </nav>
        </div>
    </div>
</header>
<hr class="clear">