<header>
    <nav id="menu">
        <label class="logo">
            <a href="/home">
                <img src="../img/Logo-Dallmann.png"
                     alt="Firmenlogo Dallmann"></a>
        </label>
        <ul>
            <li>

            </li>
            <li>
                <% if (rights.view_device === 1){ %>
                    <a href="/devices">
                        <i class="fas fa-briefcase"></i>
                        <tab class="header-icons-description">Geräte</tab>
                    </a>
                    <% if (rights.add_device === 1){ %>
                        <ul class="main-menu-sub">
                            <li>
                                <a href="/addDevice">Gerät hinzufügen</a>
                            </li>
                        </ul>
                    <% } %>
            </li>
            <% } if (rights.booking_device === 1){ %>
                <!-- Reservierung -->
                <li>
                    <a href="/bookinglist">
                        <i class="fas fa-calendar-alt"></i>
                        <tab class="header-icons-description">
                            Reservierung
                        </tab>
                    </a>
                    <ul class="main-menu-sub">
                        <li>
                            <a href="/booking">
                                Reservierung vornehmen
                            </a>
                        </li>
                        <li>
                            <a href="/bookinglist">
                                Reservierungsliste einsehen
                            </a>
                        </li>
                    </ul>

                </li>
            <% } %>
            <!-- Benutzer -->
            <li>
                <a href="/profil">
                    <i class="fas fa-user"></i>
                    <tab class="header-icons-description">
                        <%= username %>
                    </tab>
                </a>
            </li>
            <!-- Hinzufügen von Nutzern/Rechten -->
            <% if (rights.add_user === 1 && rights.delete_user === 1){ %>
                <li>
                    <a href="/userManagement">
                        <i class="fas fa-cogs"></i>
                        <tab class="header-icons-description">
                            Benutzerverwaltung
                        </tab>
                    </a>
                    <ul class="main-menu-sub">
                        <% if(rights.add_user === 1) { %>
                            <li>
                                <a href="/add">Nutzer anlegen</a>
                            </li>
                        <% } if (rights.edit_user === 1){ %>
                            <li>
                                <a href="/update">Nutzerdaten ändern</a>
                            </li>
                        <% } %>
                    </ul>
                </li>
            <% } %>
            <!-- Komissionieren -->
            <% if ( rights.picking === 1 ) { %>
                <li>
                    <a href="/commission">
                        <i class="fas fa-list"></i>
                        <tab class="header-icons-description">
                            Komissonieren
                        </tab>
                    </a>
                </li>
            <% } %>

            <!-- Suche -->
            <li>
                <div>
                    <form action="/searchDevice" method="get">
                        <a href="/search">
                            <label for="search">
                                <i class="fas fa-search"></i>
                            </label>
                        </a>
                        <input id="search" width="50%" type="text"
                               name="inventoryNumber"
                               onchange="this
                            .form.submit()" autofocus>
                    </form>
                </div>
            </li>

            <!-- Logout -->
            <li>
                <a href="/logout">
                    <i class="fas fa-power-off fa-1x"></i>
                    <tab class="header-icons-description">
                        Logout
                    </tab>
                </a>
            </li>
        </ul>
    </nav>
</header>
<hr class="clear">