<header>
    <div id="header">
        <div class="logo">
            <a href="/home">
                <img src="../img/Logo-Dallmann.png" alt="Firmenlogo Dallmann">
            </a>
        </div>
        <nav>
            <form method="post" class="search" action="/search">
                <input class="input" name="inventoryNumber" placeholder="Suchen"
                       type="text"
                       autofocus onchange="this.form.submit()">
                <span class="underline"></span>
            </form>
            <ul class="navbarList">

                <!-- search -->
                <li class="searchList">
                    <input class="input" placeholder="Suchen" type="text">
                </li>

                <!-- devices -->
                <li class="dropdown">
                    <!-- devices-->
                    <% if (rights.view_device === 1){ %>
                        <a href="/devices">
                            <i class="fas fa-briefcase"></i>
                            <tab class="header-icons-description">Geräte</tab>
                        </a>
                        <% if (rights.add_device === 1){ %>
                            <ul class="main-menu-sub">
                                <li>
                                    <a href=""
                                       onclick="addDevicePopUp()">
                                        Gerät hinzufügen</a>
                                </li>
                            </ul>
                        <% } %>
                    <% } %>
                </li>

                <!-- booking -->
                <% if (rights.booking_device === 1){ %>

                    <li class="dropdown">
                        <a href="/bookinglist">
                            <i class="fas fa-calendar-alt"></i>
                            <tab class="header-icons-description">Reservierung
                            </tab>
                        </a>
                        <ul>
                            <li>
                                <a href="/booking">
                                    Reservierung vornehmen
                                </a>
                            </li>
                            <li>
                                <a href="/bookinglist">
                                    Reservierungsliste einsehen
                                </a>
                            </li>
                        </ul>
                    </li>
                <% } %>

                <!-- User -->
                <li class="dropdown">

                    <a href="/profil">
                        <i class="fas fa-user"></i>
                        <tab class="header-icons-description">
                            <%= username %>
                        </tab>
                    </a>
                </li>

                <!-- addUser -->
                <% if (rights.add_user === 1 && rights.delete_user === 1){ %>
                    <li class="dropdown">
                        <a href="/userManagement">
                            <i class="fas fa-cogs"></i>
                            <tab class="header-icons-description">
                                Benutzerverwaltung
                            </tab>
                        </a>
                        <ul>
                            <% if(rights.add_user === 1) { %>
                                <li><a href="" onclick="addUserPopUp()">
                                        Nutzer anlegen</a></li>
                            <% } %>
                        </ul>
                    </li>
                <% } %>

                <!-- commission -->
                <% if ( rights.picking === 1 ) { %>
                    <li>
                        <a href="/commission">
                            <i class="fas fa-list"></i>
                            <tab class="header-icons-description">
                                Kommissionieren
                            </tab>
                        </a>
                    </li>
                <% } %>

                <!-- Logout -->
                <li>
                    <a href="/logout">
                        <i class="fas fa-sign-out-alt"></i>
                        <tab class="header-icons-description">
                            Logout
                        </tab>
                    </a>
                </li>
            </ul>
        </nav>
    </div>
</header>
<hr class="clear">
<script>
    $('#header').prepend('<div id="menu-icon"><span class="first"></span>' +
        '<span class="second"></span><span class="third"></span></div>');

    $("#menu-icon").on("click", function () {
        $("nav").slideToggle();
        $(this).toggleClass("active");
    });

</script>

