<head>
    <link rel="stylesheet" href="css/headFootDesign.css">
    <script src="javascript/header.js"></script>
</head>

<header>
    <div id="header">

        <div class="logo">
            <a href="/home" alt="">
                <img src="../img/Logo-Dallmann.png" alt="Firmenlogo Dallmann">
            </a>
        </div>
        <nav>
            <form method="post"  class="search" action="/searchInventoryNumber">
                <input class="input" name="inventoryNumber" placeholder="Suchen" type="text"
                       autofocus onchange="this.form.submit()">
                <span class="underline"></span>
            </form>
            <ul class="navbarList" >

                <!-- Suche -->
                <li class="searchList">
                    <input class="input" placeholder="Suchen" type="text">
                </li>

                <!-- Logout -->
                <li>
                    <a href="/logout">
                        <i class="fas fa-sign-out-alt"></i>
                        <tab class="header-icons-description">
                            Logout
                        </tab>
                    </a>
                </li>

                <!-- Komissionieren -->
                <% if ( rights.picking === 1 ) { %>
                    <li>
                        <a href="/commission">
                            <i class="fas fa-list"></i>
                            <tab class="header-icons-description">
                                Komissonieren
                            </tab>
                        </a>
                    </li>
                <% } %>

                <!-- Hinzufügen von Nutzern/Rechten -->
                <% if (rights.add_user === 1 && rights.delete_user === 1){ %>
                    <li class="dropdown">
                        <a href="/userManagement">
                            <i class="fas fa-cogs"></i>
                            <tab class="header-icons-description">
                                Benutzerverwaltung
                            </tab>
                        </a>
                        <ul>
                            <% if(rights.add_user === 1) { %>
                                <li><a href="/add">Nutzer anlegen</a></li>
                            <% } if (rights.edit_user === 1){ %>
                                <li><a href="update">Nutzerdaten ändern</a></li>
                            <% } %>
                        </ul>
                    </li>
                <% } %>

                <!-- User -->
                <li class="dropdown">
                    <!-- Benutzer -->
                    <a href="/profil">
                        <i class="fas fa-user"></i>
                        <tab class="header-icons-description">
                            <%= username %>
                        </tab>
                    </a>
                </li>

                <!-- Reservierung -->
                <%  if (rights.booking_device === 1){ %>
                    <!-- Reservierung -->
                    <li class="dropdown">
                        <a href="/bookinglist">
                            <i class="fas fa-calendar-alt"></i>
                            <tab class="header-icons-description">Reservierung
                            </tab>
                        </a>
                        <ul>
                            <li>
                                <a href="/booking">
                                    Reservierung vornehmen
                                </a>
                            </li>
                            <li>
                                <a href="/bookinglist">
                                    Reservierungsliste einsehen
                                </a>
                            </li>
                        </ul>
                    </li>
                <% } %>

                <!-- Geräte -->
                <li class="dropdown">
                    <!-- Geräte -->
                    <% if (rights.view_device === 1){ %>
                        <a href="/devices">
                            <i class="fas fa-briefcase"></i>
                            <tab class="header-icons-description">Geräte</tab>
                        </a>
                        <% if (rights.add_device === 1){ %>
                            <ul class="main-menu-sub">
                                <li>
                                    <a href="/addDevice">Gerät hinzufügen</a>
                                </li>
                            </ul>
                        <% } %>
                    <% } %>
                </li>










            </ul>
        </nav>
    </div>
</header>

<hr class="clear">

<script>
    $('#header').prepend('<div id="menu-icon"><span class="first"></span><span class="second"></span><span class="third"></span></div>');

    $("#menu-icon").on("click", function () {
        $("nav").slideToggle();
        $(this).toggleClass("active");
    });
</script>
