<header>
    <div id="menu">
        <div id="header-logo">
            <a href="home">
                <img src="https://www.dallmann-bau.de/fileadmin/template/img/Logo-Dallmann.png"
                     alt="Firmenlogo Dallmann"></a>
        </div>
        <div id="header-menu">
            <nav id="main-menu">
                <ul>
                    <li>
                        <a href="/devices">
                            <i class="fas fa-briefcase"></i>
                            <tab class="header-icons-description">
                                Geräte
                            </tab>
                        </a>
                        <ul class="main-menu-sub">
                            <li>
                                <a href="/addDevice">Gerät hinzufügen</a>
                            </li>
                        </ul>
                    </li>
                    <% if (rights[0] === 1){%>
                    <!-- Reservierung -->
                    <li>
                        <a href="/bookinglist">
                            <i class="fas fa-calendar-alt"></i>
                            <tab class="header-icons-description">
                                Reservierung
                            </tab>
                        </a>
                        <ul class="main-menu-sub">
                            <li>
                                <a href="/booking">Reservierung vornehmen</a>
                            </li>
                            <li>
                                <a href="/bookinglist">Reservierungsliste einsehen</a>
                            </li>
                        </ul>

                    </li>
                        <% } %>
                    <!-- Benutzer -->
                    <li>
                        <a href="/profil">
                            <i class="fas fa-user"></i>
                            <tab class="header-icons-description">
                               <%= benutzername %>
                            </tab>
                        </a>
                    </li>
                    <!-- Hinzufügen von Nutzern/Rechten -->
                    <% if (rights[5] === 1 && rights[6]=== 1){%>
                    <li>
                        <a href="/userManagement">
                            <i class="fas fa-cogs"></i>
                            <tab class="header-icons-description">
                                Benutzerverwaltung
                            </tab>
                        </a>
                        <ul class="main-menu-sub">
                            <li>
                                <a href="/add">Nutzer anlegen</a>
                            </li>
                            <li>
                                <a href="/update">Nutzerdaten ändern</a>
                            </li>
                        </ul>
                    </li>
                    <% }%>
                    <!-- Komissionieren -->
                    <% if ( role === 1 || role ===  2 ) { %>
                    <li>
                        <a href="/">
                            <i class="fas fa-list"></i>
                            <tab class="header-icons-description">
                                Komissonieren
                            </tab>
                        </a>
                    </li>
                    <% } %>

                    <!-- Suche -->
                    <li>
                        <a href="/search">
                            <i class="fas fa-search"></i>

                        <tab class="header-icons-description" >
                            <input id="header-Search" class="form-control" type="text" placeholder="123456">
                        </tab>
                        </a>
                    </li>

                    <!-- Logout -->
                    <li>
                        <a href="/logout">
                            <i class="fas fa-power-off fa-1x"></i>
                            <tab class="header-icons-description" >
                                Logout
                            </tab>
                        </a>
                    </li>
                </ul>
            </nav>
        </div>
    </div>
</header>
<hr class="clear">