#historycontent
{
    float: left;
    width: 50%;
    height: 100%;
    text-align: center;
}

#header-caption {
    width: auto;
    float: left;
    margin: 1.5% 0 3.0% 20%;
    font-size: medium;

}

#table
{
    margin: 5%;
    width: 100%

}

#historyMap
{
    height: 100%;
    margin-top: 0.5%;
    margin-right: 1%;
    width: 45%;
    float: right;
}

#historyMap frame
{
    height:500px;
    width:100%;
}

@media screen and (max-width: 1630px)
{
    #table
    {
        width: 800px;
        margin: 5%;
    }

}


@media screen and (max-width: 900px)
{
    #historyMap
    {
        display: none;
    }

    #menu-caption , #select
    {
        margin-left: 55%;
        width: 100%;

    }

}

@media screen  and (max-width: 530px){

}

