#historycontent
{
    float: left;
    width: 50%;
    height: 100%;
    text-align: center;
}

#header-caption {
    width: auto;
    float: left;
    margin: 1.5% 0 3.0% 20%;
    font-size: medium;

}

#historyMap
{
    border: 1px solid black;
    height: 100%;
    width: 45%;
    float: right;
}

#historyMap frame
{
    height:500px;
    width:100%;
}

