#Content
{
    border: 1px solid black;
    width: 20%;
    margin-left: 5%;
    margin-top: 2.5%;
    text-align: center;
    background-color: #fbbb11;
    float: left;
    border-radius: 27px 27px 27px 27px;
}

#Content1
{
    border: 1px solid black;
    width: 20%;
    margin-left: 5%;
    margin-top: 2.5%;
    text-align: center;
    background-color: #f1f1f1 ;
    float: left;
    border-radius: 27px 27px 27px 27px;
}


.Content-link
{
   border-top: 1px solid black;
}

.Content-link a
{
    text-decoration: none;
    color: black;
    margin:50px;
}

.Content-link a:hover
{
    color: black;
}

#i-link
{
    padding: 0;
}

