input:focus {
	border: 1px solid orange;
	box-shadow: 0 0 4px orange;
	outline: none;
}

html {
	font-size: 100%;
	height: 100%;
	overflow-y: scroll;
	-ms-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
}

body {
	font-size: 16px;
	-webkit-font-smoothing: antialiased;
	font-smoothing: antialiased;
	height: 100%;
	line-height: 1.5em;
	margin: 0;
	text-align: center;
}

#brickwall {
	background-image: url(../image/background_uebergang.jpg);

	-moz-background-size: cover;
	-o-background-size: cover;
	-webkit-background-size: cover;
	background-size: cover;
	bottom: 0;
	left: 0;
	position: absolute;
	right: 0;
	top: 0;
}

#background-compat {
	background-color: rgba(255, 165, 0, 0.7);
	bottom: 0;
	display: none;
	left: 0;
	position: fixed;
	right: 0;
	top: 0;
}

#background {
	background-attachment: fixed;
	-moz-background-size: cover;
	-o-background-size: cover;
	-webkit-background-size: cover;
	background-size: cover;
	bottom: 0;
	-ms-filter: 'progid:DXImageTransform.Microsoft.Blur(PixelRadius=\'6\')';
	filter: 'progid:DXImageTransform.Microsoft.Blur(PixelRadius=\'6\')';
	left: 0;
	mix-blend-mode: normal;
	position: absolute;
	right: 0;
	top: 0;
	z-index: -1;
}

#blur {
	bottom: 0;
	-webkit-filter: blur(7px);
	filter: url('data:image/svg+xml;utf9,<svg%20version=\'1.1\'%20xmlns=\'http://www.w3.org/2000/svg\'><filter%20id=\'blur\'><feGaussianBlur%20stdDeviation=\'5\'%20/></filter></svg>#blur');
	filter: blur(7px);
	left: 0;
	overflow: hidden;
	position: absolute;
	right: 0;
	top: 0;
	z-index: -1;
}

body, input {
	color: #000;
	font-family: helvetica, arial, sans-serif;
}

#loginBox {
	border-radius: 5px;
	box-shadow: 0 0 50px 5px rgba(0, 0, 0, 0.3), 0 0 5px -1px white;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	isolation: isolate;
	left: 50%;
	margin-left: -200px;
	mix-blend-mode: normal;
	padding: 1em;
	padding-bottom: 1em;
	position: fixed;
	text-align: center;
	top: 15%;
	width: 400px;
}

#loginBox:after {
	background-color: rgba(255, 255, 255, 0.6);
	border: 1px solid rgba(0, 0, 0, 0.3);
	border-radius: 5px;
	bottom: 0;
	content: ' ';
	left: 0;
	mix-blend-mode: normal;
	position: absolute;
	right: 0;
	top: 0;
	z-index: -1;
}

/* IE 9-10 */
@media screen\0 {
	#loginBox:after {
		background-color: white;
	}
}

h1 {
	margin: 0;
}

#logo a {
	display: block;
	height: 100px;
	text-decoration: none;
}

#logo a img {
	border: none;
	height: auto;
	max-height: 66px;
	max-width: 300px;
	outline: none;
	vertical-align: middle;
	width: auto;
}

.valign-helper {
	display: inline-block;
	height: 100%;
	vertical-align: middle;
}

h3 {
	color: #d00;
	font-size: 0.8em;
	font-weight: normal;
	margin: 1em 0;
	text-align: center;
}

#login-message {
	font-size: 80%;
}

#reset-link {
	color: #f00;
	font-size: 60%;
}

#firsttime {
	font-size: 60%;
}

form {
	margin: 0 auto;
	width: 220px;
}

fieldset {
	border: none;
	margin: 0.25em;
	padding: 0;
}

fieldset input {
	background: white;

	background: rgba(255, 255, 255, 0.5);
	border: 1px solid #ccc;
	border: 1px solid rgba(0, 0, 0, 0.3);
	display: block;
	padding: 2px 4px;
	width: 100%;
}

hr {
	border: none;
	border-bottom: 1px solid #eee;
	height: 0;
	margin: 20px;
}

div.banner {
	color: #666;
	line-height: 1.2em;
}

div.banner:not(:empty) {
	margin-bottom: 1em;
}

* {
	box-sizing: border-box;
}

.button:hover {
	text-decoration: none;
}

input[type=email],
input[type=password] {
	border-radius: 4px;
	font-size: 0.75em;
	padding: 5px;
}

input {
	margin: 10px 0 10px 0 !important;
}

button {
	margin: 10px 0 10px 0 !important;
}
