<!DOCTYPE html>
    <meta charset="UTF-8">
    <meta name="author" content="Constantin Brans">
    <title>User Management</title>
    <link rel="stylesheet" href="css/headFootDesign.css">
    <link rel="stylesheet" href="css/table.css">
    <link rel="stylesheet" href="css/historie.css">
    <link rel="stylesheet" href="css/adminCreateUser.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css">

    <link rel="icon" type="image/x-icon" href="https://www.dallmann-bau.de/fileadmin/template/favicon.png">

    <script src="https://code.jquery.com/jquery-3.5.1.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.bundle.min.js"></script>
    <script src="javascript/adminCreateUser.js"></script>
    <script src="javascript/functionTab.js"></script>
</head>
<body>
<!-- NavigationBar Start -->
<%- include('../Views/general/header.ejs'); -%>
<!--Nav Ende -->


<h2 style="margin-left: 10%">Nutzer anlegen</h2>

<div id="form">

    <div class="tab">

        <button class="tableft" id="defaultOpen"
                onclick="openTab(event ,'infos')">Benutzerdaten
        </button>
        <button class="tableft" onclick="openTab(event, 'permission')">Rechte</button>
    </div>

    <br>
    <div id="infos" class="tabcontent">

        <h3 style="text-align: center">Benutzer Daten</h3>

        <form class="userProfilContent" action="/addUser" method="post" id="userProfilContent">



            <div class="form-group">

                <div class="form-row">

                    <div class="col">

                        <div class="md-form mt-0">

                            <label for="firstName">Vorname:</label>
                            <input type="text" class="form-control" placeholder="Vorname"
                                   id="firstName" name="firstName">
                        </div>
                    </div>
                </div>
            </div>

            <div class="form-group">
                <div class="form-row">
                    <div class="col">
                        <div class="md-form mt-0">
                            <label for="lastName">Nachname:</label>
                            <input type="text" class="form-control" placeholder="Nachname" id="lastName" name="surname">
                        </div>
                    </div>
                </div>
            </div>

            <div class="form-group">
                <div class="form-row">
                    <div class="col">
                        <div class="md-form mt-0">
                            <label for="role">Rolle:</label>
                            <select class="custom-select" id="role" onchange="selectPermission()" name="role" >
                                <option disabled selected>Rolle</option>
                                <option value="Admin">Administration</option>
                                <option value="Werkstatt">Werkstatt</option>
                                <option value="Polier">Polier</option>
                                <option value="Buchhaltung">Buchhaltung</option>
                            </select>
                        </div>
                    </div>
                </div>
            </div>

            <div class="form-group">
                <label for="email">E-Mail:</label>
                <input type="text" class="form-control" placeholder="E-Mail" id="email" name="eMail" onclick="setEmail()" required>
            </div>
            <div class="form-group">
                <label for="password">Password:</label>
                <input id="password" name="password" type="text" class="form-control" placeholder="Passwort"
                       onclick="setDefaultPassword()">

            </div>

            <button id="submit" class="btn btn-outline-primary" onclick="">Neuen Benutzer hinzufügen
                <svg width="1em" height="1em" viewBox="0 0 16 16" class="glyphicon glyphicon-pencil"
                     fill="currentColor"
                     xmlns="http://www.w3.org/2000/svg">
                    <path fill-rule="evenodd"
                          d="M11 14s1 0 1-1-1-4-6-4-6 3-6 4 1 1 1 1h10zm-9.995-.944v-.002.002zM1.022 13h9.956a.274.274 0 0 0 .014-.002l.008-.002c-.001-.246-.154-.986-.832-1.664C9.516 10.68 8.289 10 6 10c-2.29 0-3.516.68-4.168 1.332-.678.678-.83 1.418-.832 1.664a1.05 1.05 0 0 0 .022.004zm9.974.056v-.002.002zM6 7a2 2 0 1 0 0-4 2 2 0 0 0 0 4zm3-2a3 3 0 1 1-6 0 3 3 0 0 1 6 0zm4.5 0a.5.5 0 0 1 .5.5v2a.5.5 0 0 1-.5.5h-2a.5.5 0 0 1 0-1H13V5.5a.5.5 0 0 1 .5-.5z"/>
                    <path fill-rule="evenodd"
                          d="M13 7.5a.5.5 0 0 1 .5-.5h2a.5.5 0 0 1 0 1H14v1.5a.5.5 0 0 1-1 0v-2z"/>
                </svg>
            </button>
            <br>
        </form>

    </div>

    <div id="permission" class="tabcontent">
        <h3 style="text-align: center">Rechte des Benutzers</h3>
        <table id="permissiontable">
            <tr>
                <th>Rechte</th>
                <th>erhalten</th>
                <th>verwehrt</th>
                <th>von Rolle<br> geerbt</th>
                <th>&nbsp;</th>
            </tr>

            <tr>
                <td>Admin</td>
                <td>
                    <div class="custom-control custom-radio">
                        <input type="radio" class="custom-control-input" id="adminRecieved"
                               name="adminPermission" form="userProfilContent">
                        <label class="custom-control-label" for="adminRecieved"></label>
                    </div>
                </td>
                <td>
                    <div class="custom-control custom-radio">
                        <input type="radio" class="custom-control-input" id="adminDenied"
                               name="adminPermission" form="userProfilContent">
                        <label class="custom-control-label" for="adminDenied"></label>
                    </div>
                </td>
                <td>
                    <div class="custom-control custom-radio">
                        <input type="radio" class="custom-control-input" id="adminInherited"
                               name="adminPermission" form="userProfilContent">
                        <label class="custom-control-label" for="adminInherited"></label>
                    </div>
                </td>
                <td>

                    <button style=" border:none; border-radius: 50%; background-color: #fbbb11;"
                            onclick="removeCheckedRadio('adminPermission')">
                        <i class="fas fa-times" style="color: white"></i>
                    </button>
                </td>
            </tr>
            <tr>
                <td>Werkstatt</td>
                <td>
                    <div class="custom-control custom-radio">
                        <input type="radio" class="custom-control-input" id="workshopRecieved"
                               name="workshopPermission" form="userProfilContent">
                        <label class="custom-control-label" for="workshopRecieved"></label>
                    </div>
                </td>
                <td>
                    <div class="custom-control custom-radio">
                        <input type="radio" class="custom-control-input" id="workshopDenied"
                               name="workshopPermission" form="userProfilContent">
                        <label class="custom-control-label" for="workshopDenied"></label>
                    </div>
                </td>
                <td>
                    <div class="custom-control custom-radio">
                        <input type="radio" class="custom-control-input" id="workshopInherited"
                               name="workshopPermission" form="userProfilContent">
                        <label class="custom-control-label" for="workshopInherited"></label>
                    </div>
                </td>
                <td>
                    <button style=" border:none; border-radius: 50%; background-color: #fbbb11;"
                            onclick="removeCheckedRadio('workshopPermission')">
                        <i class="fas fa-times" style="color: white"></i>
                    </button>
                </td>
            </tr>

            <tr>
                <td>Polier</td>
                <td>
                    <div class="custom-control custom-radio">
                        <input type="radio" class="custom-control-input" id="foremanRecieved"
                               name="foremanPermission" form="userProfilContent">
                        <label class="custom-control-label" for="foremanRecieved"></label>
                    </div>
                </td>
                <td>
                    <div class="custom-control custom-radio">
                        <input type="radio" class="custom-control-input" id="foremanDenied"
                               name="foremanPermission" form="userProfilContent">
                        <label class="custom-control-label" for="foremanDenied"></label>
                    </div>
                </td>
                <td>
                    <div class="custom-control custom-radio">
                        <input type="radio" class="custom-control-input" id="foremanInherited"
                               name="foremanPermission" form="userProfilContent">
                        <label class="custom-control-label" for="foremanInherited"></label>
                    </div>
                </td>
                <td>
                    <button style=" border:none; border-radius: 50%; background-color: #fbbb11;"
                            onclick="removeCheckedRadio('foremanPermission')">
                        <i class="fas fa-times" style="color: white"></i>
                    </button>
                </td>
            </tr>

            <tr style=" border-bottom: 1px solid black;">
                <td>Buchhaltung</td>
                <td>
                    <div class="custom-control custom-radio">
                        <input type="radio" class="custom-control-input" id="accountingRecieved"
                               name="accountingPermission" form="userProfilContent">
                        <label class="custom-control-label" for="accountingRecieved"></label>
                    </div>
                </td>
                <td>
                    <div class="custom-control custom-radio">
                        <input type="radio" class="custom-control-input" id="accountingDenied"
                               name="accountingPermission" form="userProfilContent">
                        <label class="custom-control-label" for="accountingDenied"></label>
                    </div>
                </td>
                <td>
                    <div class="custom-control custom-radio">
                        <input type="radio" class="custom-control-input" id="accountingInherited"
                               name="accountingPermission" form="userProfilContent">
                        <label class="custom-control-label" for="accountingInherited"></label>
                    </div>
                </td>
                <td>
                    <button style=" border:none; border-radius: 50%; background-color: #fbbb11;"
                            onclick="removeCheckedRadio('accountingPermission')">
                        <i class="fas fa-times" style="color: white"></i>
                    </button>
                </td>
            </tr>
        </table>
        <button id="submit1" class="btn btn-outline-primary"  form="userProfilContent">Neuen Benutzer hinzufügen
            <svg width="1em" height="1em" viewBox="0 0 16 16" class="glyphicon glyphicon-pencil"
                 fill="currentColor"
                 xmlns="http://www.w3.org/2000/svg">
                <path fill-rule="evenodd"
                      d="M11 14s1 0 1-1-1-4-6-4-6 3-6 4 1 1 1 1h10zm-9.995-.944v-.002.002zM1.022 13h9.956a.274.274 0 0 0 .014-.002l.008-.002c-.001-.246-.154-.986-.832-1.664C9.516 10.68 8.289 10 6 10c-2.29 0-3.516.68-4.168 1.332-.678.678-.83 1.418-.832 1.664a1.05 1.05 0 0 0 .022.004zm9.974.056v-.002.002zM6 7a2 2 0 1 0 0-4 2 2 0 0 0 0 4zm3-2a3 3 0 1 1-6 0 3 3 0 0 1 6 0zm4.5 0a.5.5 0 0 1 .5.5v2a.5.5 0 0 1-.5.5h-2a.5.5 0 0 1 0-1H13V5.5a.5.5 0 0 1 .5-.5z"/>
                <path fill-rule="evenodd"
                      d="M13 7.5a.5.5 0 0 1 .5-.5h2a.5.5 0 0 1 0 1H14v1.5a.5.5 0 0 1-1 0v-2z"/>
            </svg>
        </button>
        <br>
        <br>
    </div>
</div>
<%- include('../Views/general/footer.ejs'); -%>

</body>
</html>



