<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Reservierung</title>
    <link rel="stylesheet" type="text/css" href="css/headFootDesign.css">
    <link rel="icon" type="image/x-icon" href="https://www.dallmann-bau.de/fileadmin/template/favicon.png">

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css">
</head>
<body>
<%- include('../Views/header.ejs'); -%>
<main>
    <div id="bookingcontent">
        <div id="menu-caption">
            <% if (geraetenummer === ""){%>
            <h1>Reservierung f체r ein Ger채t vornehmen: </h1>
            <% } else{%>
            <h1>Reservierung f체r das Ger채t mit der Nummer: <%= geraetenummer%> vornehmen:</h1>
            <% }%>
        </div>
    </div>




</main>
<%- include('../Views/footer.ejs'); -%>

