<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Dallmann Asset-Management</title>
    <link rel="stylesheet" href="css/bookinglist.css">

    <link rel="stylesheet" href="css/deviceManagement.css">
    <link rel="stylesheet" href="css/table.css">

    <script
            src="https://code.jquery.com/jquery-3.5.1.js"
            integrity="sha256-QWo7LDvxbWT2tbbQ97B53yJnYU3WhH/C8ycbRAkjPDc="
            crossorigin="anonymous"></script>
    <link rel="stylesheet" type="text/css"
          href="https://cdn.datatables.net/1.10.22/css/jquery.dataTables.css">
    <script type="text/javascript" charset="utf8"
            src="https://cdn.datatables.net/1.10.22/js/jquery.dataTables.js">
    </script>

    <link rel="stylesheet"
          href="https://cdn.datatables.net/colreorder/1.5.2/css/colReorder.dataTables.min.css">
    <script src="https://cdn.datatables.net/colreorder/1.5.2/js/dataTables.colReorder.min.js">

    </script>


    <script src="javascript/devicemanagement.js"></script>
    <script src="javascript/bookinglist.js"></script>
    <link rel="icon" type="image/x-icon"
          href="https://www.dallmann-bau.de/fileadmin/template/favicon.png">
    <link rel="stylesheet"
          href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          type="text/css">
    <script src="https://kit.fontawesome.com/a076d05399.js"></script>

    <link rel="stylesheet" href="css/headFootDesign.css">
    <script src="javascript/header.js"></script>
</head>
<body>
<!-- NavigationBar Start -->
<%- include('../Views/general/header.ejs'); -%>
<!--Nav Ende -->
<main>
    <div id="userContent">
        <h3>Reservierungsliste</h3>
        <div>
            <div id="button-container">
                <% if (rights.booking_device === 1){ %>
                    <form method="get" action="/booking">
                        <!--onclick="addDeviceWindow()"-->

                        <button class=" btn btn-warning header_button">Ein
                            Gerät
                            buchen
                            <i class="fas fa-calendar-alt"></i>
                        </button>
                    </form>
                <% }  if (rights.booking_request === 1){ %>
                    <form method="post" action="/bookingRequest">

                        <button class="header_button">Gerätebuchung anfragen
                            <svg width="1em" height="1em" viewBox="0 0 16 16"
                                 class='fas fa-pencil'
                                 fill="currentColor"
                                 xmlns="http://www.w3.org/2000/svg">
                                <path fill-rule="evenodd"
                                      d="M11 14s1 0 1-1-1-4-6-4-6 3-6 4 1 1 1 1h10zm-9.995-.944v-.002.002zM1.022 13h9.956a.274.274 0 0 0 .014-.002l.008-.002c-.001-.246-.154-.986-.832-1.664C9.516 10.68 8.289 10 6 10c-2.29 0-3.516.68-4.168 1.332-.678.678-.83 1.418-.832 1.664a1.05 1.05 0 0 0 .022.004zm9.974.056v-.002.002zM6 7a2 2 0 1 0 0-4 2 2 0 0 0 0 4zm3-2a3 3 0 1 1-6 0 3 3 0 0 1 6 0zm4.5 0a.5.5 0 0 1 .5.5v2a.5.5 0 0 1-.5.5h-2a.5.5 0 0 1 0-1H13V5.5a.5.5 0 0 1 .5-.5z"/>
                                <path fill-rule="evenodd"
                                      d="M13 7.5a.5.5 0 0 1 .5-.5h2a.5.5 0 0 1 0 1H14v1.5a.5.5 0 0 1-1 0v-2z"/>
                            </svg>
                        </button>
                    </form>
                <% } %>

            </div>
        </div>
        <table id="booking" class="table
            user-list"
               onload>
            <thead>
            <tr>
                <th>Inventarnummer</th>
                <th>Starttag Buchung</th>
                <th>Ende Buchung</th>
                <th>Vorname</th>
                <th>Nachname</th>
                <th>Baustellennummer</th>
                <th>Baustellenname</th>
            </tr>
            </thead>
            <tbody id="deviceContent">
            </tbody>
        </table>
    </div>
</main>
<% if (searchValue === "" ){ %>
    <input type="hidden" id="searchValue" value="">
<% }else { %>
    <input type="hidden" id="searchValue" value="<%= searchValue ;%>">
<% } %>

<%- include('../Views/general/footer.ejs'); -%>
</body>
</html>