<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link type="text/css" href="css/DeviceMngt.css" rel="stylesheet">
    <link rel="icon" type="image/x-icon" href="https://www.dallmann-bau.de/fileadmin/template/favicon.png">
    <link rel="stylesheet" type="text/css" href="//netdna.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css">
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.6.0/dist/leaflet.css" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css">
    <link type="text/css" rel="stylesheet" href="css/headFootDesign.css">

    <script src="https://unpkg.com/leaflet@1.6.0/dist/leaflet.js"></script>
    <script src="javascript/DeviceMngt.js"></script>

    <title>Asset-Management</title>
</head>
<body>
<!-- NavigationBar Start -->
<%- include('../Views/general/header.ejs'); -%>
<!--Nav Ende -->
<div id="content">
    <div id="DeviceList" >
        <div class="container bootstrap snippet">
            <div class="row">
                <div class="col-lg-12">
                    <div class="main-box no-header clearfix">
                        <div class="main-box-body clearfix">
                            <div class="table-responsive">
                                <table width="100%" class="table user-list" >
                                    <thead >
                                    <tr>
                                        <!-- <th style="background-color: #fbbb11">Nr.</th>-->
                                        <th style="background-color: #fbbb11">Inventarnummer</th>
                                        <th style="background-color: #fbbb11">Kategorie</th>
                                        <th style="background-color: #fbbb11">Produktbezeichnung</th>
                                        <th style="background-color: #fbbb11">Status</th>
                                    </tr>
                                    </thead>
                                    <tbody id="deviceContent"></tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div id="DeviceInfo">
        <div class="card">
            <div class="card-body">
                <div class="e-profile">
                    <div class="row">
                        <div class="col">
                            <div class="form-group">
                                <label>Inventarnummer</label>
                                <input class="form-control" type="text"
                                       name="invNumber" placeholder="Inventarnummer"
                                       value="100420" form="historie">
                                <input type="hidden" name="invNumber" form="booking" value="100420">
                            </div>
                        </div>
                        <div class="col">
                            <div class="form-group">
                                <label>Kategorie</label>
                                <input class="form-control" type="text"
                                       name="username" placeholder="Kategorie"
                                       value="Winkelschleifer">
                            </div>
                        </div>
                        <div class="col">
                            <div class="form-group">
                                <label>Produktbezeichnung</label>
                                <input class="form-control" type="text"
                                       name="username"
                                       placeholder="Produktbezeichnung"
                                       value="Z350">
                            </div>
                        </div>
                        <div class="col">
                            <div class="form-group">
                                <label>Status</label>
                                <p>
                                    <select class="browser-default custom-select form-control" id="sort" onchange="getSelectedOption()" style="width: 100%; display: inline-block" required>
                                        <option value="0" selected disabled>Status festlegen/ändern</option>
                                        <option value="available">Verfügbar</option>
                                        <option value="borrowed">Ausgeliehen</option>
                                        <option value="maintenance">In Wartung</option>
                                        <option value="outOfOrder">Außer Betrieb</option>
                                        <option value="lost">Verschollen/Verschwunden</option>
                                        <option value="stolen">Gestohlen</option>
                                    </select>
                                </p>

                            </div>
                        </div>
                        <div class="row">
                            <div class="col">
                                <div class="form-group">
                                    <label>TÜV</label>
                                    <input class="form-control" type="text"
                                           placeholder="12.09.2021">
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col">
                                <div class="form-group">
                                    <label>UVV</label>
                                    <input class="form-control" type="text"
                                           placeholder="27.08.2020">
                                </div>
                            </div>
                        </div>


                        <div class="row">
                            <div class="col">
                                <div class="form-group">
                                    <label>Position</label>
                                    <input class="form-control" type="text"
                                           placeholder="user@example.com" value="52.52">
                                    <input class="form-control" type="text"
                                           placeholder="user@example.com" value="7.32">
                                </div>
                            </div>
                        </div>
                        <form method="post" action="/historie" id="historie">
                        <div class="row">
                            <div class="col">
                                <div class="form-group">
                                    <p> <button type="submit" class="btn btn-info">Historie anzeigen</button></p>

                                </div>
                            </div>
                        </div>
                        </form>
                        <form method="post" action="/booking" id="booking">
                            <div class="row">
                                <div class="col">
                                    <div class="form-group">
                                        <p> <button type="submit" class="btn btn-warning">Gerät reservieren</button></p>

                                    </div>
                                </div>
                            </div>
                        </form>


                    </div>
                </div>
                <div id="map"></div>
            </div>
        </div>
    </div>
</div>
<%- include('../Views/general/footer.ejs'); -%>
</body>
</html>