<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>FAQ-BEREICH</title>
    <link rel="stylesheet" href="css/headFootDesign.css">
    <link rel="stylesheet" href="css/faqMain.css">
    <link rel="stylesheet"
          href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <link rel="stylesheet"
          href="https://use.fontawesome.com/releases/v5.8.2/css/all.css">
</head>
<body>
<!-- NavigationBar Start -->
<%- include('../Views/general/header.ejs'); -%>
<!--Nav Ende -->

<div>
    <a href="/Website-FAQ">
        <div  class="linkcontainer">
            <div id="web">
                <img style="width: 160px; height: 160px" src="img/icon_internet.png">
            <h3>FAQ<br>Website</h3>
            </div>
        </div>
    </a>
    <a href="/App-FAQ">
        <div class="linkcontainer">
            <img style="width: 160px; height: 160px" src="img/icon_android.png">
            <h3>FAQ<br>App</h3>
        </div>
    </a>
    <a href="/Traccar-FAQ">
    <div class="linkcontainer traccar">
        <img style="width: 160px; height: 160px" src="img/icon_marker.png">
        <h3>FAQ<br>Location<br> Data</h3>
    </div>
    </a>

</div>


</div>

<%- include('../Views/general/footer.ejs'); -%>