<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>FAQ</title>

    <link rel="stylesheet"
          href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <link rel="stylesheet"
          href="https://use.fontawesome.com/releases/v5.8.2/css/all.css">
    <link rel="stylesheet" href="css/headFootDesign.css">
    <link rel="stylesheet" href="css/faq.css">
    <script src="javascript/header.js"></script>
</head>
<body>
<% if (!rights === undefined){%>
<!-- NavigationBar Start -->
<%- include('../Views/general/header.ejs'); -%>
<!--Nav Ende -->
<% } %>
<div class="container">

    <section>
        <h1>FREQUENTLY ASKED QUESTION<span>S</span></h1>
    </section>
    <div class="toggle" id="infos">
        <div class="toggle-title">
            <h3>
                <i></i>
                <span class="title-name">Allgemeines</span>
            </h3>
        </div>

        <div class="toggle-inner">
            <p>
                Diese Softwarelösung ist im Rahmen des
                Softwareentwicklungsprojektes der Hochschule Osnabrück Campus
                Lingen und dem Unternehmen Hermann Dallmann Straßen- und Tiefbau
                GmbH & Co. KG entstanden. Dies ist das Benutzerhandbuch der
                Android Applikation, es soll dem Nutzer Hilfestellung bei
                auftretenden Problemen geben und die erste Anlaufstelle sein,
                wenn sich der Benutzer mit den Funktionen der Anwendung
                auseinandersetzen möchte.
            </p>
        </div>

    </div>

    <div class="toggle" id="infos">
        <div class="toggle-title">
            <h3>
                <i></i>
                <span class="title-name">Sicherheitsinformationen</span>
            </h3>
        </div>

        <div class="toggle-inner">
            <p>
                Da die App voraussichtlich an Baustellen oder Unterwegs
                verwendet wird, weisen wir Sie darauf hin, dass Sie während der
                Benutzung auf Ihre Umgebung achten sollen. Verwenden Sie die App
                nicht während Sie Auto fahren oder Maschinen bedienen.
            </p>
        </div>

    </div>
    <div class="toggle" id="login">
        <div class="toggle-title ">
            <h3>
                <i></i>
                <span class="title-name">Anmeldung</span>
            </h3>
        </div>
        <div class="toggle-inner">
            <p>Für die Anmeldung in der Android Applikation werden die gleichen
                Daten, wie für den Login auf der Website benötigt.
            </p>
        </div>
    </div><!-- END OF TOGGLE -->

    <div class="toggle" id="login">
        <div class="toggle-title ">
            <h3>
                <i></i>
                <span class="title-name">Passwort</span>
            </h3>
        </div>
        <div class="toggle-inner">
            <p>
                Ihr erhaltenes Passwort entspricht bereits der Auflagen eines
                sicheren Passwortes. Jedoch ist eines der größeren Risiken die
                Weitergabe des Passwortes oder die Ablegung an nicht sicheren
                Stellen (z.B. Post-It am Monitor oder unter der Tastatur). Geben
                Sie ihr Passwort niemals an Dritte weiter. Ein EDV-Mitarbeiter
                würde Sie nie nach Ihren Passwort fragen.
            </p>
            <p>
                Falls Sie Ihr Passwort vergessen haben und zurücksetzen müssen,
                melden Sie sich bei einem Verantwortlichen der Applikation in
                der EDV-Abteilung.
            </p>
        </div>
    </div>

    <div class="toggle" id="devices">
        <div class="toggle-title ">
            <h3>
                <i></i>
                <span class="title-name">Geräte</span>
            </h3>
        </div>
        <div class="toggle-inner">
            <h5> Geräte abrufen</h5>
            <p>Um eine Liste mit allen existierenden Geräten zu bekommen, gehen
                Sie auf die Schaltfläche „Inventar anzeigen“.
            </p>
            <h5>Geräte suchen</h5>
            <p>
                Für die Suche von Geräten haben Sie mehrere Möglichkeiten.
            </p>
            <p>
                Über die Schaltfläche „Scannen" gelangen Sie auf eine Oberfläche
                in der sich, zum Einlesen eines QR Codes, die Kamera öffnet.
                Diese richten Sie auf den QR Code am Gerät und bei erfolgreichem
                Einlesen, werden Sie auf die jeweilige Geräte-Karte des
                eingescannten Gerätes weitergeleitet.
            </p>
            <p>
                Die zweite Möglichkeit ist, unter der Schaltfläche „Inventar
                anzeigen" über die oben befindliche Suchzeile, ein Gerät mit
                Hilfe der Inventarnummer zu suchen. Außerdem können Sie hier
                Geräte über den Status, die Kategorie, den Hersteller oder auch
                das Modell finden. Hierfür geben Sie einfach die gewünschte
                Suchanfrage als Klartext in die Suchzeile ein.
            </p>
            <p>
                Eine weitere Option ist es, nach Start- und Enddatum des TÜV
                Termins oder nach Status, über die Filterfunktion, welche oben
                rechts über das Menü zu erreichen ist, zu filtern.
            </p>
            <h5>Geräte hinzufügen</h5>
            <p>
                Um Geräte hinzuzufügen gehen Sie im Hauptmenü auf „Geräte
                hinzufügen". Dort sind alle nötigen Informationen, wie Modell,
                Herstelle, oder Kategorie anzugeben. Anschließend drücken Sie
                speichern und das neue Gerät wird in der Datenbank gespeichert.
            </p>
            <h5>Geräte reservieren</h5>
            <p>
                Die Reservierung von Geräten ist über die jeweilige Geräte-Karte
                möglich. Dafür gehen Sie unten rechts auf das Feld
                „Reservieren“. Hier müssen Sie neben dem Start und Enddatum der
                Reservierung, die Baustelle, auf der das Gerät benötigt wird,
                angeben.
            </p>
            <h5>Gerät bearbeiten</h5>
            <p>
                Um ein bestimmtes Gerät zu bearbeiten, können Sie in der
                Geräte-Karte in der Toolbar den Menüpunkt „Bearbeiten“
                auswählen. Nun können Sie in die einzelnen Werte des Gerätes
                verändern.
            </p>
            <h5>Geräte Standort abrufen</h5>
            <p>
                Um den aktuellen Gerätestandort abzurufen, öffnen Sie die
                Geräte-Karte des gewünschten Gerätes und klicken Sie dann auf
                „Maps“ in der sich unten befindenden Zeile. Dies öffnet eine
                Karte, auf der das Gerät angezeigt wird. Oben ist die letzte
                Aktualisierung zu sehen.
            </p>
            <h5> Verlauf von Geräten</h5>
            <p>
                Um die Suche nach bereits angeklickten Geräten zu beschleunigen,
                können Sie über das Hauptmenü den „Verlauf“ anklicken. Dort sind
                alle Geräte aufgelistet, die zuvor im Inventar angeklickt
                wurden. Die Geräte sind dabei so sortiert, dass der zuletzt
                angeklickte Gerät im Inventar ganz oben erscheint. Über diesen
                Menüpunkt können sie wie gewohnt Geräte einsehen und bearbeiten.
            </p>
            <h5>Alte Geräteversionen einsehen</h5>
            <p>
                Alte Versionen von Geräten können Sie über das ausgewählte Gerät
                in der Geräte-Karte in der Toolbar erreichen. Dort wird eine
                Liste von alten Geräteversionen angezeigt. Wählt man eine
                Version aus, gelangt man zu einer Geräte Karte, die den alten
                Stand des Gerätes zu dem ausgewählten Zeitpunkt zeigt.
                Funktionen wie das Reservieren, Bearbeiten und Löschen des
                Gerätes entfallen, da es sich um ein archivierte Version des
                gewählten Gerätes handelt.
            </p>
        </div>
    </div><!-- END OF TOGGLE -->


    <div class="toggle" id="booking">
        <div class="toggle-title ">
            <h3>
                <i></i>
                <span class="title-name">Benutzerverwaltung</span>
            </h3>
        </div>
        <div class="toggle-inner">
            <p>Für die Benutzerverwaltung sind Admin-Rechte erforderlich.</p>
            <p>Gehen Sie im Hauptmenü auf Einstellungen, anschließend auf
                "Nutzer bearbeiten". Dort wird eine Liste von allen Benutzern
                angezeigt. In der oben angezeigten Suchzeile können Sie nach
                Vornamen, Nachnamen, Rollen oder der Benutzer ID suchen. </p>
            <p>Wenn Sie auf den gewünschten Benutzer klicken, sehen Sie die
                Daten und Rechte des Nutzers. Um den Benutzer zu bearbeiten,
                gehen Sie oben rechts auf das Menü und anschließend auf
                „Bearbeiten“. Dort ist es Ihnen auch ermöglicht den Benutzer
                über „Löschen“ zu entfernen.</p>
        </div>
    </div><!-- END OF TOGGLE -->


    <div class="toggle" id="userProfil">
        <div class="toggle-title ">
            <h3>
                <i></i>
                <span class="title-name">Termine</span>
            </h3>
        </div>
        <div class="toggle-inner">
            <p>
                Auf der Hauptseite befindet sich die Schaltfläche „Termin“. Hier
                haben Sie die Option sich Geräte mit
            <ul>
                <li>anstehenden TÜV Prüfungen</li>
                <li>anstehenden UVV Prüfungen</li>
                <li>anstehenden Instandhaltungsterminen oder</li>
                <li>relevanten Themen</li>
            </ul>
            anzeigen zu lassen.</p>
            <p>
                Die relevanten Termin sind von dem angemeldeten Benutzer
                erstellte Reservierungen, die in den nächsten 14 Tagen auslaufen
                würden.
            </p>
        </div>
    </div><!-- END OF TOGGLE -->


    <div class="toggle" id="userProfil">
        <div class="toggle-title ">
            <h3>
                <i></i>
                <span class="title-name">Fehlermeldungen</span>
            </h3>
        </div>
        <div class="toggle-inner">
            <p>Die Applikation benötigt zur reibungslosen Verwendung eine
                dauerhafte Internetverbindung. Ohne Internetverbindung können
                Sie sich nicht anmelden. Wenn Sie die Fehlermeldung „Keine
                Verbindung zum Server“ sehen, dass liegt das an der fehlenden
                Internetverbindung oder die Server sind zurzeit nicht aktiv.</p>
            <p>Bei der Fehlermeldung „Conversion Error“ bitten wir Sie dies dem
                Verantwortlichen der Applikation mitzuteilen, damit dieser
                Fehler behoben werden kann. </p>
            <p>Wenn die Erstellung einer Reservierung, eines Benutzers oder
                eines Gerätes nicht funktioniert, erhalten Sie wahrscheinlich
                eine Meldung mit der Begründung, wieso dies nicht Möglich ist.
                Wenn Sie das Problem behoben haben und es weiterhin nicht
                Möglich ist das Objekt zu erstellen, dann melden Sie sich bei
                dem Verantwortlichen der Applikation</p>

        </div>
    </div><!-- END OF TOGGLE -->

    <div class="toggle" id="userProfil">
        <div class="toggle-title ">
            <h3>
                <i></i>
                <span class="title-name">Installation</span>
            </h3>
        </div>
        <div class="toggle-inner">
            <p>
                Dieser Teil des Handbuch richtet sich an den Verantwortlichen
                der Applikation. Es werden die Schritte von dem Projektbezugs
                aus Github bis zur erfolgreichen Installierung der Applikation
                erläutert.
            </p>
            <h6>1. Schritt: Anlegen des Projektes</h6>
            <p>Für die Erstellung der Applikation wurde Android Studio
                verwendet. Mit dem am Projektende übergebenen Daten können Sie
                sich das Projekt aus dem Git Repository anlegen. Dafür nehmen
                Sie sich den URL Text und wählen in Android Studio „File“ ->
                „New“ -> „Project from Version Control“. Dort können Sie die URL
                einfügen und das Projekt anlegen. </p>
            <h6>2. Erstellung der Applikation(APK)</h6>
            <p>Für die Erstellung der APK wählen Sie oben in Android Studio
                „Build“ aus. Je nachdem ob das eine APK für Testzwecke sein,
                wählen Sie „Build Bundel(s) / APK(s)“ -> „APK“ aus. Diese Form
                der APK ist nur für Testzwecke geeignet. Eine Installation auf
                einem Gerät könnte eventuell nicht funktionieren.</p>
            <p>
                Eine funktionstüchtige APK erstellen Sie unter „Generate Signed
                Bundle/ APK..“. Dort wählen Sie dann „APK“ aus und bestätigen
                mit „Next“. Unter dem Punkt „Key store path“ wählen Sie „Create
                new…“.
            </p>
            <p>
                In dem neuen Fenster befindet sich wieder der Punkt „Key store
                path“, wo Sie einen sicheren Ort auswählen müssen. Danach wählen
                Sie ein sicheres Passwort und bestätigen diesen.
            </p>
            <p>
                Im „Alias“ wählen Sie einen Namen für den Key aus. Das Passwort
                des Keys muss ein anderen sicheren Passwort sein als das von dem
                Key Store Path. Die Validation kann bei 25 Jahren bleiben. Das
                Zertifikat können Sie wie im Bild mit eigenen Informationen
                ausfüllen.
                Beim Bestätigen des Fensters kommen Sie auf das vorherige
                Fenster. Dort betätigen Sie nun „Next“.
            </p>
            <p>
                Im nächsten Fenster wählen Sie nun unten „V1 (Jar Signature) und
                (V2 Full APK SIgnature) aus und bestätigen mit „Finish“. Es
                wurde eine APK erstellt.
            </p>
            <h6>3.6 Installation der Applikation</h6>
            <p>
                Für die Installation muss die APK sich auf dem Smartphone
                befinden und von dort aus installiert werden. Je nachdem welche
                Android Version das Gerät besitzt, muss in den Einstellungen
                „Apps aus Unbekannten Quellen installieren“ aktiviert werden.
                Mit Android 10 verfällt diese Option. Bei der Installation wird
                nach bestimmten Rechten gefragt, wie den Standortszugriff oder
                Internetzugriff. Für den vollen Funktionsumfang müssen alle
                Berechtigungen bestätigt werden
            </p>
        </div>
    </div>

    <div class="toggle" id="userProfil">
        <div class="toggle-title ">
            <h3>
                <i></i>
                <span class="title-name">Kosten</span>
            </h3>
        </div>
        <div class="toggle-inner">
            <p>Die App verbraucht, je nachdem ob sich das Smartphone im WLAN
                befindet, das mobile Datenvolumen. Wir weisen Sie darauf hin,
                dass dies zu Kosten führen könnte.
            </p>

        </div>
    </div>
</div>
</body>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js">

</script>
<script src="javascript/faQ.js">
</script>
</html>