<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>FAQ</title>
    <link rel="stylesheet" href="css/headFootDesign.css">
    <link rel="stylesheet"
          href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <link rel="stylesheet"
          href="https://use.fontawesome.com/releases/v5.8.2/css/all.css">
</head>
<body>
<!-- NavigationBar Start -->
<%- include('../Views/general/header.ejs'); -%>
<!--Nav Ende -->
<div class="container">

    <section>
        <h1>FREQUENTLY ASKED QUESTION<span>S</span></h1>
    </section>
    <div class="toggle" id="infos">
        <div class="toggle-title">
            <h3>
                <i></i>
                <span class="title-name">Allgemeines</span>
            </h3>
        </div>

        <div class="toggle-inner">
            <p>
                Diese Softwarelösung ist im Rahmen des
                Softwareentwicklungsprojektes der Hochschule Osnabrück Campus
                Lingen und dem Unternehmen Hermann Dallmann Straßen- und Tiefbau
                GmbH & Co. KG entstanden. Dies ist das Benutzerhandbuch der
                Android Applikation, es soll dem Nutzer Hilfestellung bei
                auftretenden Problemen geben und die erste Anlaufstelle sein,
                wenn sich der Benutzer mit den Funktionen der Anwendung
                auseinandersetzen möchte.
            </p>
        </div>

    </div>
    <div class="toggle" id="login">
        <div class="toggle-title ">
            <h3>
                <i></i>
                <span class="title-name">Anmeldung</span>
            </h3>
        </div>
        <div class="toggle-inner">
            <p>Für die Anmeldung in der Android Applikation werden die gleichen
                Daten, wie für den Login auf der Website benötigt.
            </p>
            <p>
                Falls Sie Ihr Passwort vergessen haben und zurücksetzen müssen,
                ist dies nur über die Website möglich.
            </p>
        </div>
    </div><!-- END OF TOGGLE -->

    <div class="toggle" id="devices">
        <div class="toggle-title ">
            <h3>
                <i></i>
                <span class="title-name">Geräte</span>
            </h3>
        </div>
        <div class="toggle-inner">
            <h5> Geräte abrufen</h5>
            <p>Um eine Liste mit allen existierenden Geräten zu bekommen, gehen
                Sie auf die Schaltfläche „Inventar anzeigen“.
            </p>
            <h5>Geräte suchen</h5>
            <p>
                Für die Suche von Geräten haben Sie die mehrere Möglichkeiten.
            </p>
            <p>
                Über die Schaltfläche „Scannen" gelangen Sie gelangen Sie auf
                eine Oberfläche in der sich, zum Einlesen eines QR Codes, die
                Kamera öffnet. Diese richten Sie auf den QR Code am Gerät und
                bei erfolgreichem Einlesen, werden Sie auf die jeweilige
                Geräte-Karte des eingescannten Gerätes weitergeleitet.
            </p>
            <p>
                Die zweite Möglichkeit ist, unter der Schaltfläche „Inventar
                anzeigen" über die oben befindliche Suchzeile, ein Gerät mit
                Hilfe der Inventarnummer zu suchen. Außerdem können Sie hier
                Geräte über den Status, die Kategorie, den Hersteller oder auch
                das Modell finden. Hierfür geben Sie einfach die gewünschte
                Suchanfrage als Klartext in die Suchzeile ein.
            </p>
            <p>
                Eine weitere Option ist es, nach Start- und Enddatum des TÜV
                Termins oder nach Status, über die Filterfunktion, welche oben
                rechts über das Menü zu erreichen ist, zu filtern.
            </p>
            <h5>Geräte hinzufügen</h5>
            <p>
                Um Geräte hinzuzufügen gehen Sie im Hauptmenü auf „Geräte
                hinzufügen". Dort sind alle nötigen Informationen, wie Modell,
                Herstelle, oder Kategorie anzugeben. Anschließend drücken Sie
                speichern und das neue Gerät wird in der Datenbank gespeichert.
            </p>
            <h5>Geräte reservieren</h5>
            <p>
                Die Reservierung von Geräten ist über die jeweilige Geräte-Karte
                möglich. Dafür gehen Sie unten rechts auf das Feld
                „Reservieren“. Hier müssen Sie neben dem Start und Enddatum der
                Reservierung, die Baustelle, auf der das Gerät benötigt wird,
                angeben.
            </p>
            <h5>Geräte Standort abrufen</h5>
            <p>
                Um den aktuellen Gerätestandort abzurufen, öffnen Sie die
                Geräte-Karte des gewünschten Gerätes und klicken Sie dann auf
                „Maps“ in der sich unten befindenden Zeile. Dies öffnet eine
                Karte, auf der das Gerät angezeigt wird. Oben ist die letzte
                Aktualisierung zu sehen.
            </p>
            <h5> Verlauf von Geräten</h5>
            <p>
                Alte Versionen von Geräten sind im Hauptmenü über die Menüfläche
                „Verlauf“ zu erreichen. Dort wird eine Liste von alten
                Geräteversionen angezeigt. Um eine alte Version eines Gerätes zu
                suchen, kann die Suchfunktion in der oberen Zeile benutzt
                werden. Hier können Sie das ein Gerät mit Hilfe der
                Inventarnummer suchen. Außerdem können Sie, wie in der Suche für
                aktuelle Geräte, Geräte über den Status, die Kategorie, den
                Hersteller oder auch das Modell finden.
            </p>
        </div>
    </div><!-- END OF TOGGLE -->


    <div class="toggle" id="booking">
        <div class="toggle-title ">
            <h3>
                <i></i>
                <span class="title-name">Benutzerverwaltung</span>
            </h3>
        </div>
        <div class="toggle-inner">
            <p>Für die Benutzerverwaltung sind Admin-Rechte erforderlich.</p>
            <p>Gehen Sie im Hauptmenü auf Einstellungen, anschließend auf
                "Nutzer bearbeiten". Dort wird eine Liste von allen Benutzern
                angezeigt. In der oben angezeigten Suchzeile können Sie nach
                Vornamen, Nachnamen, Rollen oder der Benutzer ID suchen. </p>
            <p>Wenn Sie auf den gewünschten Benutzer klicken, sehen Sie die
                Daten und Rechte des Nutzers. Um den Benutzer zu bearbeiten,
                gehen Sie oben rechts auf das Menü und anschließend auf
                „Bearbeiten“. Dort ist es Ihnen auch ermöglicht den Benutzer
                über „Löschen“ zu entfernen.</p>
        </div>
    </div><!-- END OF TOGGLE -->


    <div class="toggle" id="userProfil">
        <div class="toggle-title ">
            <h3>
                <i></i>
                <span class="title-name">Termine</span>
            </h3>
        </div>
        <div class="toggle-inner">
            <p>
                Auf der Hauptseite befindet sich die Schaltfläche „Termin“. Hier
                haben Sie die Option sich Geräte mit
            <ul>
                <li>anstehenden TÜV Prüfungen</li>
                <li>anstehenden UVV Prüfungen</li>
                <li>anstehenden Instandhaltungsterminen oder</li>
                <li>relevanten Themen</li>
            </ul> anzeigen zu lassen.</p>
        </div>
    </div><!-- END OF TOGGLE -->
</div>
</body>

<style>
    /* Styles for page */
    .container {
        width: 70%;
        margin: 150px auto;
    }

    body {
        color: #4B4B4B;
        font-family: sans-serif;
    }

    body a {
        cursor: pointer;
        color: #4B4B4B;
        text-decoration: none;
    }

    body section {
        margin-bottom: 90px;
    }

    body section h1 {
        text-transform: uppercase;
        text-align: center;
        font-weight: normal;
        letter-spacing: 10px;
        font-size: 25px;
        line-height: 1.5;
    }

    body section p, body section a {
        text-align: center;
        letter-spacing: 3px;
    }

    span {
        letter-spacing: 0px;
    }

    p {
        font-weight: 200;
        line-height: 1.5;
        font-size: 14px;
    }

    /* Styles for Accordion */
    div.toggle-inner {
        display: none;
    }

    div.toggle-inner.show {
        display: block !important;
    }

    .toggle:last-child {
        border-bottom: 1px solid #dddddd;
    }

    .toggle .toggle-title {
        position: relative;
        display: block;
        border-top: 1px solid #dddddd;
        margin-bottom: 6px;
    }

    .toggle .toggle-title h3 {
        font-size: 20px;
        margin: 0px;
        line-height: 1;
        cursor: pointer;
        font-weight: 200;
    }

    .toggle .toggle-inner {
        padding: 7px 25px 10px 25px;
        display: none;
        margin: -7px 0 6px;
    }

    .toggle .toggle-inner div {
        max-width: 100%;
    }

    .toggle .toggle-title .title-name {
        display: block;
        padding: 25px 25px 14px;
    }

    .toggle .toggle-title a i {
        font-size: 22px;
        margin-right: 5px;
    }

    .toggle .toggle-title i {
        position: absolute;

        width: 24px;
        height: 24px;
        -webkit-transition: all 0.3s ease;
        -moz-transition: all 0.3s ease;
        -o-transition: all 0.3s ease;
        -ms-transition: all 0.3s ease;
        transition: all 0.3s ease;
        margin: 20px;
        right: 0;
    }
</style>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script>
    var acc = document.getElementsByClassName("toggle-title");
    var panel = document.getElementsByClassName('toggle-inner');

    for (var i = 0; i < acc.length; i++) {
        acc[i].onclick = function () {
            var setClasses = !this.classList.contains('active');
            setClass(acc, 'active', 'remove');
            setClass(panel, 'show', 'remove');

            if (setClasses) {
                this.classList.toggle("active");
                this.nextElementSibling.classList.toggle("show");
            }
        }
    }

    function setClass(els, className, fnName) {
        for (var i = 0; i < els.length; i++) {
            els[i].classList[fnName](className);
        }
    }
</script>
</html>