<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>FAQ</title>

    <link rel="stylesheet"
          href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <link rel="stylesheet"
          href="https://use.fontawesome.com/releases/v5.8.2/css/all.css">

    <link rel="stylesheet" href="css/headFootDesign.css">
    <link rel="stylesheet" href="css/faq.css">
    <script src="javascript/header.js"></script>
</head>
<body>
<!-- NavigationBar Start -->
<%- include('../Views/general/header.ejs'); -%>
<!--Nav Ende -->
<div class="container">

    <section>
        <h1>FREQUENTLY ASKED QUESTION<span>S</span></h1>
    </section>
    <div class="toggle" id="allgemeines">
        <div class="toggle-title">
            <h3>
                <i></i>
                <span class="title-name">Allgemeines</span>
            </h3>
        </div>

        <div class="toggle-inner">
            <p>
                Diese Softwarelösung ist im Rahmen des
                Softwareentwicklungsprojektes der Hochschule Osnabrück Campus
                Lingen und dem Unternehmen Hermann Dallmann Straßen- und Tiefbau
                GmbH & Co. KG entstanden. Dies ist das Benutzerhandbuch der
                Android Applikation, es soll dem Nutzer Hilfestellung bei
                auftretenden Problemen geben und die erste Anlaufstelle sein,
                wenn sich der Benutzer mit den Funktionen der Anwendung
                auseinandersetzen möchte.
            </p>
        </div>

    </div>
    <div class="toggle" id="navigation">
        <div class="toggle-title ">
            <h3>
                <i></i>
                <span class="title-name">Navigation</span>
            </h3>
        </div>
        <div class="toggle-inner">
            <p>
                Zur Navigation gibt es zwei Möglichkeiten, zum einen die
                Menüleiste und zum anderen die Startseite, beide bieten die
                gleichen Links zu den Webseiten mit den Funktionen
            </p>
            <h2>Menüleiste</h2>
            <p>
                Über die Menüleiste erhalten Sie über die einzelnen Reiter den
                Zugriff auf die Hauptfunktionen des Programms. Durch einen Klick
                auf das Dallmann Logo gelangt man zurück auf die Startseite. Die
                Menüleiste kann von allen Seiten aufgerufen werden.
            </p>
            <h2>Dashboard</h2>
            <p>
                Das Dashboard enthält einen leicht gekürzten Funktionsumfang wie
                die Menüleiste, aber im Grunde die gleichen Funktionen. Jegliche
                die Menüunterpunkte stehen so nicht zur Verfügung.
            </p>
        </div>
    </div><!-- END OF TOGGLE -->

    <div class="toggle" id="table">
        <div class="toggle-title ">
            <h3>
                <i></i>
                <span class="title-name">Tabellen</span>
            </h3>
        </div>
        <div class="toggle-inner">
            <p>Alle Tabellen der Website verfügen über den gleichen Aufbau, der
                Aufbau wird anhand der Geräte-Tabelle beschrieben, lässt sich
                aber auf alle anderen Tabellen ebenfalls anwenden.
            </p>

            <p>
                Im oberen Bereich der Tabelle befindet sich die Anzeige „Zeige
                10 Geräte“, über dieses Menü lässt sich die Zahl der Geräte auf
                einer Seite bestimmen, die Anzahl der Einträge liegt bei
                10,25,50 und 100 anzeigebaren Einträgen. Am rechten oberen Rand
                der Tabelle befindet sich die Suchfunktion, über diese
                Suchfunktion kann nach allen Einträgen der Tabelle gesucht
                werden, die Suche funktioniert bereits mit einem Buchstaben oder
                Zahl.
            </p>

            <p>
                Über die Tabellen-Überschriften kann die Tabelle sortiert
                werden, hierfür muss nur einmal auf die Überschriftgerückt
                werden, danach wird die Tabelle entweder auf- oder absteigen
                sortiert.
            </p>

            <p>
                Unter der Tabelle befindet sich in der linken Ecke, die
                Information darüber welche Einträge der Tabelle grade angezeigt
                werden, auf der rechten Seite kann in den Seiten der Tabelle
                gewechselt werden, die Anzahl der Seiten richtet sich nach den
                Einträgen in der Tabelle.
            </p>
        </div>
    </div>

    <div class="toggle" id="device">
        <div class="toggle-title ">
            <h3>
                <i></i>
                <span class="title-name">Geräte</span>
            </h3>
        </div>
        <div class="toggle-inner">
            <ol>
                <li>
                    Auf der Geräteseite ist eine Tabelle der gesamten Geräte
                    verfügbar, diese Tabelle enthält Informationen zur
                    Inventarnummer, Kategorie, Modell und dem Status des
                    Gerätes.
                </li>
                <li>
                    Rechts daneben befindet sich eine genauere Information zu
                    den einzelnen Geräten. Die einzelnen Informationen können
                    eingesehen werden, wenn Sie auf eine der Tabellenzeilen
                    drücken, damit werden die Informationen für das Gerät
                    geladen.
                </li>
                <% if (rights.edit_device === 1){ %>
                    <li>
                        Auf dieser Seite können auch die Informationen für ein
                        einzelnes Gerät geändert werden, so ist es möglich zum
                        Beispiel die Inventarnummer zu ändern, das Gerät einer
                        anderen Kategorie zuzuordnen, den Status des Gerätes zu
                        ändern oder das TÜV/UVV-Datum zu ändern.
                        Die Änderungen können über die Schaltfläche "Daten
                        ändern"
                        gespeichert werden.
                    </li>
                <% } %>
                <li>
                    Ein weiteres Feature ist das Einsehen der Historie eines
                    Gerätes.
                    Dafür muss nachdem die Daten für ein einzelnes Gerät geladen
                    worden sind, auf die Schaltfläche "Historie anzeigen"
                    geklickt
                    werden, damit gelangt man auf eine Übersicht über die
                    letzten
                    Veränderungen eines spezifischen Gerätes.
                </li>
                <li>
                    Über die Schaltfläche "Gerät reservieren" kann das zuvor
                    ausgewählte Gerät reserviert werden. Auf diese Funktion wird
                    im nächsten Teil genauer eingegangen.
                </li>
                <% if (rights.delete_device === 1){ %>
                    <li>
                        Ebenfalls befindet sich auf dieser Seite noch die
                        Schaltfläche
                        „Gerät löschen“, diese ist nur für Nutzer sichtbar,
                        die von der Software die Berechtigung zum Löschen von
                        Geräten
                        erhalten haben.
                    </li>
                <% } %>
            </ol>
            <p>
                Unter den Schaltflächen befindet sich eine Karte, auf dieser
                Karte wird die Position des Gerätes angezeigt, welches aus der
                linken Tabelle ausgewählt wurde,
                standardmäßig ist das erste Gerät aus der Liste geladen.
            </p>
        </div>
    </div><!-- END OF TOGGLE -->

    <% if (rights.booking_device === 1){ %>
        <div class="toggle" id="booking">
            <div class="toggle-title ">
                <h3>
                    <i></i>
                    <span class="title-name">Reservierung</span>
                </h3>
            </div>
            <div class="toggle-inner">
                <ol>
                    <li>
                        Über die Schaltfläche „Reservierung“ gelangt man zu
                        einer
                        Übersicht über die bereits reservierten und ausgeliehen
                        Geräte.
                        Ebenfalls enthält diese Seite Informationen über
                        das Anfangsdatum und Enddatum der Reservierung/Leihe.
                        Weiter Informationen, die auf dieser Seite sichtbar
                        sind,
                        sind der Entleiher mit Vor und Nachname, die
                        BaustellenID
                        und den Baustellennamen. Über die Filterfunktion
                        im oberen Bereich der Seite, kann die die Liste nach
                        bestimmten
                        Werten gefiltert werden.
                    </li>
                    <li>
                        Über diese Seite kann ebenfalls eine Reservierung
                        vorgenommen
                        werden, allerdings muss so zuerst die Inventarnummer des
                        Gerätes angegeben werden. Auch ob das Gerät zur
                        Verfügung
                        steht,
                        wird erst im Nachhinein geprüft, deshalb empfiehlt es
                        sich
                        Reservierungen direkt über die Geräteseite vorzunehmen.
                    </li>
                </ol>
                <p>Bei diesem Vorgehen wird die Gerätenummer sofort in das
                    Ausleihformular geladen, die Nummer muss also nicht gemerkt
                    werden. Auf der Seite müssen noch das Start- und Enddatum
                    der
                    Reservierung/Leihe angegeben werden, hier sind nur die
                    Zeiträume möglich, in denen das Gerät auch zur Verfügung
                    steht.</p>
                <% if (rights.delete_booking === 1){ %>
                    <p>
                        Über die Schaltfläche "Resevierung löschen" können die
                        eigenen Reservierung nach der Eingabe der Inventarnummer
                        und
                        des Anfangsdatums der zu löschenden Reservierung
                        gelöscht
                        werden.
                    </p>
                <% } %>
            </div>
        </div><!-- END OF TOGGLE -->
    <% } %>

    <div class="toggle" id="userProfil">
        <div class="toggle-title ">
            <h3>
                <i></i>
                <span class="title-name">Benutzerprofil</span>
            </h3>
        </div>
        <div class="toggle-inner">
            <p>
                Im Benutzerprofil können Sie Ihre persönlichen Daten ändern, wie
                zum Beispiel den Vornamen, Nachnamen, die Mail-Adresse und das
                Passwort. Im Feld "Passwort bestätigen" muss das neue Passwort
                erneut bestätigt werden. Zwischen den Feldern "Passwort" und
                "Passwort bestätigten" können Sie die Stärke ihres neuen
                Passworts einsehen.
            </p>
        </div>
    </div><!-- END OF TOGGLE -->

    <% if (rights.add_user === 1 && rights.delete_user === 1){ %>
        <div class="toggle" id="userManagement">
            <div class="toggle-title ">
                <h3>
                    <i></i>
                    <span class="title-name">Nutzerverwaltung</span>
                </h3>
            </div>
            <div class="toggle-inner">
                <ol>
                    <li>
                        Diese Schaltfläche ist nur für die Administratoren
                        sichtbar oder für Benutzer mit den Berechtigungen. Über
                        die Schaltfläche gelangt man zu einer Übersicht über
                        alle registrierten Nutzer der Anwendung.
                    </li>
                    <li>
                        2. Mit dem Button am rechten oberen Rand der Tabelle mit
                        der Beschriftung "Neuen Benutzer hinzufügen" gelangt man
                        zu einer weiteren Seite. Auf dieser können die
                        Stammdaten, wie Name, Nachname usw. festgelegt werden.
                        Ebenfalls kann hier die Zuordnung von Rechten erfolgen.
                    </li>
                    <li>
                        Weiterhin können hier die Stammdaten der Benutzer
                        angepasst werden und anschließend mit dem Button
                        "Bestätigen" gespeichert werden.
                    </li>
                    <li>
                        Als letztes ist es möglich sogar einen Benutzer aus
                        dem Programm zu löschen, so dass dieser kein Zugriff
                        mehr auf die Software hat.
                    </li>
                </ol>
            </div>
        </div><!-- END OF TOGGLE -->
    <% } %>

    <% if (rights.picking === 1){ %>
        <div class="toggle" id="picking">
            <div class="toggle-title ">
                <h3>
                    <i></i>
                    <span class="title-name">Kommissionieren</span>
                </h3>
            </div>
            <div class="toggle-inner">
                <p>
                    Diese Schaltfläche steht nur den Werkstattmitarbeitern zur
                    Verfügung, über diesen Menüpunkt können Geräte schneller ein
                    und ausgebucht werden.
                </p>
                <ol>
                    <li>
                        Über das Anklicken der Baustelle, kann ein Gerät
                        direkt als ausgeliehen gebucht werden, und es wird der
                        Baustelle direkt zugeordnet.
                    </li>
                    <li>
                        Über das Anklicken des Werkzeugkastens, kann das
                        Gerät als „In Wartung“ gebucht werden, hierfür ist nur
                        die Eingabe der Inventarnummer erforderlich.
                    </li>

                    <li>
                        Über das Anklicken des Lagers kann das Gerät direkt
                        als „Verfügbar“ vermerkt werden, hierfür muss ebenfalls
                        nur die Inventarnummer angegeben werden
                    </li>
                </ol>
                <p>
                    Weitere Status stehen nicht zur Verfügung, diese müssen über
                    das Gerätemanagement geändert werden.
                </p>
            </div>
        </div><!-- END OF TOGGLE -->
    <% } %>
    <div class="toggle" id="search">
        <div class="toggle-title ">
            <h3>
                <i></i>
                <span class="title-name">Suche</span>
            </h3>
        </div>
        <div class="toggle-inner">
            <p>Ein Suchfeld befindet sich in der Menüleiste, in dieses Suchfeld
                können wie bereits in Kapitel 5.3.2 beschrieben alle Werte der
                Tabelle Geräte eingegeben werden. Nach der Eingabe gelangt man
                auf die Geräteseite, in der Tabelle befinden Sich nun nur noch
                die Einträge, die mit den eingegebenen Werten der Suche
                übereinstimmen.
            </p>
        </div>
    </div><!-- END OF TOGGLE -->

    <div class="toggle" id="logout">
        <div class="toggle-title ">
            <h3>
                <i></i>
                <span class="title-name">Abmelden</span>
            </h3>
        </div>
        <div class="toggle-inner">
            <p>
                Durch einen Klick auf die Schaltfläche Logout oder das
                Logout-Symbol
                melden Sie sich von der Website ab. Wenn die Seite geschlossen
                wird, werden Sie automatisch abgemeldet.
            </p>
        </div>
    </div><!-- END OF TOGGLE -->

</div>
</body>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js">
</script>
<script src="javascript/faQ.js"></script>
</html>