<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>FAQ</title>

    <link rel="stylesheet"
          href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <link rel="stylesheet"
          href="https://use.fontawesome.com/releases/v5.8.2/css/all.css">

    <link rel="stylesheet" href="css/headFootDesign.css">
    <script src="javascript/header.js"></script>
</head>
<body>
<!-- NavigationBar Start -->
<%- include('../Views/general/header.ejs'); -%>
<!--Nav Ende -->
<div class="container">

    <section>
        <h1>FREQUENTLY ASKED QUESTION<span>S</span></h1>
    </section>
    <div class="toggle" id="allgemeines">
        <div class="toggle-title">
            <h3>
                <i></i>
                <span class="title-name">Allgemeines</span>
            </h3>
        </div>

        <div class="toggle-inner">
            <p>
                Diese Softwarelösung ist im Rahmen des Softwareentwicklungsprojektes
                der Hochschule Osnabrück Campus Lingen
                und dem Unternehmen Hermann Dallmann Straßen- und Tiefbau GmbH & Co.
                KG entstanden.
                Dies ist das Benutzerhandbuch der Web-Anwendung,
                es soll dem Nutzer Hilfestellung bei auftretenden Problemen geben
                und die erste Anlaufstelle sein,
                wenn sich der Benutzer mit den Funktionen der Anwendung
                auseinandersetzen möchte.
            </p>
        </div>

    </div>
    <div class="toggle" id="homepage">
        <div class="toggle-title ">
            <h3>
                <i></i>
                <span class="title-name">Dashboard</span>
            </h3>
        </div>
        <div class="toggle-inner">
            <figure>
                <% if (role === "Admin"){ %>
                    <img src="img/adminhomepage.png"
                         alt=" Standardansicht der Admin Startseite" width="100%"
                         height="100%" >
                    <figcaption>
                        Standardansicht des Admin Dashboards</figcaption>
                <% } %>
                <% if (role === "Werkstatt"){ %>
                    <img src="img/workshophomepage.png"
                         alt=" Standardansicht der Werkstatt Startseite"
                         width="100%" height="100%">
                    <figcaption>
                        Standardansicht des Werkstatt Dashboards</figcaption>
                <% } %>
                <% if (role === "Polier"){ %>
                    <img src="img/foremanhomepage.png"
                         alt=" Standardansicht der Polier Startseite" width="100%"
                         height="100%" >
                    <figcaption>
                        Standardansicht des Polier Dashboards</figcaption>
                <% } %>
                <% if (role === "Buchhaltung"){ %>
                    <img src="img/accountinghomepage.png"
                         alt=" Standardansicht der Buchhaltungs Startseite"
                         width="100%" height="100%">
                    <figcaption>
                        Standardansicht des Buchhaltungs Dashboards</figcaption>
                <% } %>

            </figure>
            <p>
                Über die einzelnen Schaltflächen gelangt man zu den Funktionen der
                Website,
                diese reichen von der einfachen Ansicht der Geräte bis hin zum
                Reservieren einzelner Geräte
                für einen Zeitraum und/oder für eine Baustelle.
                Auf die einzelnen Funktionen wird im weiteren Verlauf dieses FAQ
                genauer eingegangen.
            </p>
            <h2>Menüleiste</h2>
            <p>
                Die Menüleiste am oberen Rand der Seite enthält die gleichen
                Funktionen wie die Schaltflächen.
                Durch einen Klick auf das Dallmann Logo gelangt man zurück auf
                die Startseite,
                diese Verlinkung kann von allen Seiten aufgerufen werden.


            </p>
            <p>
            </p>
        </div>
    </div><!-- END OF TOGGLE -->

    <div class="toggle" id="devices">
        <div class="toggle-title ">
            <h3>
                <i></i>
                <span class="title-name">Geräte</span>
            </h3>
        </div>
        <div class="toggle-inner">
            <p>Auf der Geräteseite ist eine Tabelle der gesamten Geräte
                verfügbar, diese Tabelle enthält Informationen zur
                Inventarnummer, Kategorie, Modell und dem Status des Gerätes.
                Recht daneben befindet sich eine genauere Information zu den
                einzelnen Geräten. Die einzelnen Informationen können eingesehen
                werden, wenn Sie auf eine der Tabellenzeilen drücken, damit
                werden die Informationen für das Gerät geladen.
            </p>
            <% if (rights.edit_device===1){%>
                <p>Auf dieser Seite können auch die Informationen für ein
                    einzelnes Gerät geändert werden, so ist es möglich zum
                    Beispiel die Inventarnummer zu ändern, das Gerät einer
                    anderen Kategorie zuzuordnen, den Status des Gerätes zu
                    ändern oder das TÜV/UVV-Datum zu ändern.
                    Die Änderungen können über die Schaltfläche "Daten ändern"
                    gespeichert werden.</p>
            <% } %>
            <p>Ein weiteres Feature ist das Einsehen der Historie eines Gerätes.
                Dafür muss nachdem die Daten für ein einzelnes Gerät geladen
                worden sind, auf die Schaltfläche "Historie anzeigen" geklickt
                werden, damit gelangt man auf eine Übersicht über die letzten
                Veränderungen eines spezifischen Gerätes.
            </p>
            <!-- Bild von Historie ergänzen -->
            <p>Platzhalter</p>
            <p>Über die Schaltfläche "Gerät reservieren" kann das zuvor
                ausgewählte Gerät reserviert werden. Auf diese Funktion wird
                im nächsten Teil genauer eingegangen.</p>
            <p>
                Ebenfalls befindet sich auf dieser Seite noch die Schaltfläche
                „Gerät löschen“, diese ist nur für Nutzer sichtbar,
                die von der Software die Berechtigung zum Löschen von Geräten
                erhalten haben.
            </p>

            <p>
                Unter den Schaltflächen befindet sich eine Karte, auf dieser
                Karte wird die Position des Gerätes angezeigt, welches aus der
                linken Tabelle ausgewählt wurde,
                standardmäßig ist das erste Gerät aus der Liste geladen.
            </p>
        </div>
    </div><!-- END OF TOGGLE -->

    <% if (rights.booking_device === 1){ %>
    <div class="toggle" id="booking">
        <div class="toggle-title ">
            <h3>
                <i></i>
                <span class="title-name">Reservierung</span>
            </h3>
        </div>
        <div class="toggle-inner">
            <p>Über die Schaltfläche „Reservierung“ gelangt man  zu einer
                Übersicht über die bereits reservierten und ausgeliehen Geräte.
                Ebenfalls enthält diese Seite Informationen über
                das Anfangsdatum und Enddatum der Reservierung/Leihe.
                Weiter Informationen, die auf dieser Seite sichtbar sind,
                sind der Entleiher mit Vor und Nachname, die BaustellenID
                und den Baustellennamen. Über die Filterfunktion
                im oberen Bereich der Seite, kann die die Liste nach bestimmten
                Werten gefiltert werden.
            <p>
                Über diese Seite kann ebenfalls eine Reservierung vorgenommen
                werden, allerdings muss so zuerst die Inventarnummer des
                Gerätes angegeben werden. Auch ob das Gerät zur Verfügung steht,
                wird erst im Nachhinein geprüft, deshalb empfiehlt es sich
                Reservierungen direkt über die Geräteseite vorzunehmen.
            </p>
            <p>Bei diesem Vorgehen wird die Gerätenummer sofort in das
                Ausleihformular geladen, die Nummer muss also nicht gemerkt
                werden. Auf der Seite müssen noch das Start- und Enddatum der
                Reservierung/Leihe angegeben werden, hier sind nur die
                Zeiträume möglich, in denen das Gerät auch zur Verfügung steht.</p>
            <% if (rights.delete_booking===1){%>
                <p>
                    Über die Schaltfläche "Resevierung löschen" können die
                    eigenen Reservierung nach der Eingabe der Inventarnummer und
                    des Anfangsdatums der zu löschenden Reservierung gelöscht
                    werden.
                </p>
            <% }%>
        </div>
    </div><!-- END OF TOGGLE -->
    <% } %>

    <div class="toggle" id="userProfil">
        <div class="toggle-title ">
            <h3>
                <i></i>
                <span class="title-name">Benutzerprofil</span>
            </h3>
        </div>
        <div class="toggle-inner">
            <p>
                Im Benutzerprofil können Sie Ihre persönlichen Daten ändern, wie
                zum Beispiel den Vornamen, Nachnamen, die Mail-Adresse und das
                Passwort. Im Feld "Passwort bestätigen" muss das neue Passwort
                erneut bestätigt werden. Zwischen den Feldern "Passwort" und
                "Passwort bestätigten" können Sie die Stärke ihres neuen
                Passworts einsehen.
            </p>
        </div>
    </div><!-- END OF TOGGLE -->

    <% if (rights.add_user === 1 && rights.delete_user === 1){ %>
    <div class="toggle" id="userManagement">
        <div class="toggle-title ">
            <h3>
                <i></i>
                <span class="title-name">Nutzerverwaltung</span>
            </h3>
        </div>
        <div class="toggle-inner">
            <p>
                Diese Schaltfläche ist nur für die Administratoren sichtbar oder
                für Benutzer mit den Berechtigungen Nutzer hinzufügen und Nutzer
                löschen. Über die Schaltfläche gelangt man zu einer Übersicht
                über alle registrierten Nutzer der Anwendung.
                Mit dem Button am rechten oberen Rand der Tabelle mit der
                Beschriftung "Neuen Benutzer hinzufügen" gelangt man zu einer
                weiteren Seite. Auf dieser können die Stammdaten, wie Name,
                Nachname usw. festgelegt werden.
            </p>

            <p>
                Ebenfalls kann hier die Zuordnung von Rechten erfolgen.
                Bevor eine Änderung, die hier vorgenommen wird, greift,
                erfolgt erst eine Abfrage, ob die Veränderungen wirklich
                vorgenommen werden sollen.
            </p>
        </div>
    </div><!-- END OF TOGGLE -->
    <%} %>

    <div class="toggle" id="picking">
        <div class="toggle-title ">
            <h3>
                <i></i>
                <span class="title-name">Komissionieren</span>
            </h3>
        </div>
        <div class="toggle-inner">
            <p>
                Diese Schaltfläche steht nur den Werkstattmitarbeitern zur
                Verfügung, über diesen Menüpunkt können Geräte schneller ein
                und ausgebucht werden.
            </p>

            <p>
                Über das Anklicken der Baustelle, kann ein Gerät direkt als
                ausgeliehen gebucht werden, und es wird der Baustelle
                direkt zugeordnet.
                Über das Anklicken des Werkzeugkastens, kann das Gerät als
                „In Wartung“ gebucht werden, hierfür ist nur die Eingabe der
                Inventarnummer erforderlich.
                Über das Anklicken des Lagers kann das Gerät direkt als
                „Verfügbar“ vermerkt werden, hierfür muss ebenfalls nur die
                Inventarnummer angegeben werden. Weitere Status stehen nicht zur
                Verfügung, diese müssen über das
                Gerätemanagement geändert werden.</p>
        </div>
    </div><!-- END OF TOGGLE -->

    <div class="toggle" id="search">
        <div class="toggle-title ">
            <h3>
                <i></i>
                <span class="title-name">Suche</span>
            </h3>
        </div>
        <div class="toggle-inner">
            <p>
                ...Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor
                invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua.
                At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren,
                no sea takimata sanctus est Lorem ipsum dolor sit amet.
                Lorem ipsum dolor sit amet, consetetur sadipscing elitr,
                sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua.
                At vero eos et accusam et justo duo dolores et ea rebum.
                Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet.
            </p>
        </div>
    </div><!-- END OF TOGGLE -->

    <div class="toggle" id="logout">
        <div class="toggle-title ">
            <h3>
                <i></i>
                <span class="title-name">Abmelden</span>
            </h3>
        </div>
        <div class="toggle-inner">
            <p>
                Durch einen Klick auf die Schaltfläche Logout oder das Logout-Symbol
                melden Sie sich von der Website ab. Wenn die Seite geschlossen
                wird, werden Sie automatisch abgemeldet.
            </p>
        </div>
    </div><!-- END OF TOGGLE -->

</div>
</body>

<style>
    /* Styles for page */
    .container {
        width: 70%;
        margin: 150px auto;
    }

    body {
        color: #4B4B4B;
        font-family: sans-serif;
    }
    body a {
        cursor: pointer;
        color: #4B4B4B;
        text-decoration: none;
    }
    body section {
        margin-bottom: 90px;
    }
    body section h1 {
        text-transform: uppercase;
        text-align: center;
        font-weight: normal;
        letter-spacing: 10px;
        font-size: 25px;
        line-height: 1.5;
    }
    body section p, body section a {
        text-align: center;
        letter-spacing: 3px;
    }

    span {
        letter-spacing: 0px;
    }

    p {
        font-weight: 200;
        line-height: 1.5;
        font-size: 14px;
    }

    /* Styles for Accordion */
    div.toggle-inner{
        display: none;
    }
    div.toggle-inner.show{
        display: block !important;
    }

    .toggle:last-child {
        border-bottom: 1px solid #dddddd;
    }
    .toggle .toggle-title {
        position: relative;
        display: block;
        border-top: 1px solid #dddddd;
        margin-bottom: 6px;
    }
    .toggle .toggle-title h3 {
        font-size: 20px;
        margin: 0px;
        line-height: 1;
        cursor: pointer;
        font-weight: 200;
    }
    .toggle .toggle-inner {
        padding: 7px 25px 10px 25px;
        display: none;
        margin: -7px 0 6px;
    }
    .toggle .toggle-inner div {
        max-width: 100%;
    }
    .toggle .toggle-title .title-name {
        display: block;
        padding: 25px 25px 14px;
    }
    .toggle .toggle-title a i {
        font-size: 22px;
        margin-right: 5px;
    }
    .toggle .toggle-title i {
        position: absolute;

        width: 24px;
        height: 24px;
        -webkit-transition: all 0.3s ease;
        -moz-transition: all 0.3s ease;
        -o-transition: all 0.3s ease;
        -ms-transition: all 0.3s ease;
        transition: all 0.3s ease;
        margin: 20px;
        right: 0;
    }
</style>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script>
    var acc = document.getElementsByClassName("toggle-title");
    var panel = document.getElementsByClassName('toggle-inner');

    for (var i = 0; i < acc.length; i++) {
        acc[i].onclick = function() {
            var setClasses = !this.classList.contains('active');
            setClass(acc, 'active', 'remove');
            setClass(panel, 'show', 'remove');

            if (setClasses) {
                this.classList.toggle("active");
                this.nextElementSibling.classList.toggle("show");
            }
        }
    }

    function setClass(els, className, fnName) {
        for (var i = 0; i < els.length; i++) {
            els[i].classList[fnName](className);
        }
    }
</script>
</html>