<header>
    <div id="menu">
        <div id="header-logo">
            <a href="home">
                <img src="https://www.dallmann-bau.de/fileadmin/template/img/Logo-Dallmann.png"
                     alt="Firmenlogo Dallmann"></a>
        </div>
        <div id="header-menu">
            <nav id="main-menu">
                <ul>
                    <li>
                        <a href="/home">
                            <i class="fas fa-briefcase"></i>
                            <tab class="header-icons-description">
                                Geräte
                            </tab>
                        </a>
                        <ul class="main-menu-sub">
                            <li>
                                <a href="/home">Gerät hinzufügen</a>
                            </li>
                        </ul>
                    </li>
                    <!-- Reservierung -->
                    <li>
                        <a href="/home">
                            <i class="fas fa-calendar-alt"></i>
                            <tab class="header-icons-description">
                                Reservierung
                            </tab>
                        </a>
                        <ul class="main-menu-sub">
                            <li>
                                <a href="/home">Reservierung vornehmen</a>
                            </li>
                            <li>
                                <a href="/home">Reservierungsliste einsehen</a>
                            </li>
                        </ul>

                    </li>
                    <!-- Benutzer -->
                    <li>
                        <a href="index.html">
                            <i class="fas fa-user"></i>
                            <tab class="header-icons-description">
                                Benutzerprofil
                            </tab>
                        </a>
                        <ul class="main-menu-sub">
                            <li>
                                <a href="/">Berechtigungen</a>
                            </li>
                            <li>
                                <a href="/"><%= benutzername %></a>
                            </li>
                        </ul>
                    </li>

                    <!-- Suche -->
                    <li>
                        <a href="/">
                            <i class="fas fa-search"></i>
                        </a>
                        <tab class="header-icons-description">
                            <input id="header-Search" class="form-control" type="text" placeholder="123456">
                        </tab>

                    </li>

                    <!-- Logout -->
                    <li>
                        <a href="/">
                            <i class="fas fa-power-off fa-1x"></i>
                        </a>
                    </li>
                </ul>
            </nav>
        </div>
    </div>
</header>
<hr class="clear">