<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Willkommen zurück</title>
    <link rel="stylesheet" type="text/css" href="stylesheets/startseite.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css">
</head>
<body>
<!-- NavigationBar & Footer Import -->
<%- include('../Views/header.ejs'); -%>
<%- include('../Views/footer.ejs'); -%>

<!-- NavigationBar & Footer Import -->

<div id="main">
    <div id="Content">
        <h3>bereits hinzugefügte Geräte</h3>
        <p>4000</p>
       <i class="fas fa-list-ol fa-2x"></i>

        <div class="Content-link" >
            <table>
                <tr>
                    <td>
                        <a href="index">Geräte anzeigen<i class="fas fa-chevron-circle-right"></i></a>


                    </td>
                </tr>
            </table>
        </div>
    </div>


    <div id="Content1">
        <h3>kürzlich hinzugefügt<br> Geräte</h3>
        <p>Bohrmaschine</p>
        <i class="fas fa-briefcase fa-2x"></i>

        <div class="Content-link">
            <table>
                <tr>
                    <td>
                        <a href="Reservierung.html">Geräte anzeigen<i id="i-link" class="fas fa-chevron-circle-right"></i></a>

                    </td>
                </tr>
            </table>
        </div>
    </div>
</div>

<!-- Inhalt Ende / Footer Start -->

</body>
</html>

