<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Willkommen zur체ck</title>
    <link rel="stylesheet" type="text/css" href="css/startseite.css">
    <link rel="stylesheet" type="text/css" href="css/headFootDesign.css">
    <link rel="stylesheet" type="text/css" href="css/table.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css">

</head>
<body>
<!-- NavigationBar & Footer Import -->
<%- include('../Views/header.ejs'); -%>


<!-- NavigationBar & Footer Import -->

<div id="main">
    <div id="overview">
        <div id="showDevices">
            <a href="/devices" style="text-decoration: none; color: #0d0d0d">
                <h3>Ger채te anzeigen</h3>
                <p>400</p>
                <i class="fas fa-briefcase fa-3x"></i>

                <!--<i class="fas fa-calendar-alt fa-3x"></i>-->

                <div id="link-box2">
                    <a href="/devices">Ger채te anzeigen
                        <i class="fas fa-chevron-circle-right"></i>
                    </a>

                </div>
            </a>
        </div>
    </div>

    <div id="overview">
        <div id="reservations">
            <a href="/reservation" style="text-decoration: none; color: #0d0d0d">
                <h3>Reservieren</h3>
                <p>&nbsp;</p>
                <i class="fas fa-calendar-alt fa-3x"></i>

                <div id="link-box2">
                    <a href="/reservation">Ger채t reservieren
                        <i class="fas fa-chevron-circle-right"></i>
                    </a>

                </div>
            </a>
        </div>
    </div>

    <div id="overview">
        <div id="userProfil">
            <a href="/profil" style="text-decoration: none; color: #0d0d0d">
                <h3>Benutzerprofil</h3>
                <p>&nbsp;</p>
                <i class="fas fa-user fa-3x"></i><div id="link-box1">
                    <a href="/profil">Profil anzeigen
                        <i class="fas fa-chevron-circle-right"></i>
                    </a>
                </div>
            </a>
        </div>

    </div>
    <div id="overview">
        <div id="picking">
            <a href="/picking" style="text-decoration: none; color: #0d0d0d">
                <h3>Komissionieren</h3>
                <p>&nbsp;</p>
                <i class="fas fa-list fa-3x"></i>
                <div id="link-box">
                    <a href="/picking">Komissionieren
                        <i class="fas fa-chevron-circle-right"></i>
                    </a>
                </div>
            </a>
        </div>
    </div>

    <div id="overview">
        <div id="search">
            <a href="/search" style="text-decoration: none; color: #0d0d0d">
                <h3>Suchen</h3>
                <p>&nbsp;</p>
                <i class="fas fa-search fa-3x"></i>
                <div id="link-box2">
                    <a href="/search">Suchen
                        <i class="fas fa-chevron-circle-right"></i>
                    </a>
                </div>
            </a>
        </div>
    </div>

    <div id="overview">
        <div id="overview-box5">
            <a href="home" style="text-decoration: none; color: #0d0d0d">
                <h3>Nutzerverwaltung</h3>
                <p>&nbsp;</p>
                <i class="fas fa-cogs fa-3x"></i>
                <div id="link-box2">
                    <a href="home">Nutzerverwaltung
                        <i class="fas fa-chevron-circle-right"></i>
                    </a>
                </div>
            </a>
        </div>
    </div>
</div>

<!-- Inhalt Ende / Footer Start -->
<%- include('../Views/footer.ejs'); -%>

</body>
</html>

