<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en"><head><meta http-equiv="Content-Type" content="text/html; charset=UTF-8">

    <meta http-equiv="refresh" content="7200">
    <title>Dallmann Asset-Management</title>
    <link rel="stylesheet" href="css/login.css" >
    <link rel="stylesheet" href="font-awesome.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <link rel="icon" type="image/x-icon" href="https://www.dallmann-bau.de/fileadmin/template/favicon.png">

    <link rel="stylesheet"
          href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/2.0.2/css/toastr.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/2.0.2/js/toastr.min.js"></script>


    <meta http-equiv="cache-control" content="no-cache">
    <meta http-equiv="pragma" content="no-cache">
    <meta name="viewport" content="width=device-width, initial-scale=1">




</head>

<body id="loginBody">
<%- req.toastr.render() %>
<div id="brickwall"></div>
<div id="loginBox">
    <div id="blur">
        <div id="background"></div>
    </div>
    <h1 id="logo">
        <span class="valign-helper"></span>
        <img src="https://www.dallmann-bau.de/fileadmin/template/img/Logo-Dallmann.png"
             alt="Firmenlogo Dallmann">
    </h1>
    <form action="/login" method="post" id="login" >
        <fieldset>
            <input type="email" name="useremail" id="email" placeholder="E-Mail-Adresse" required>
            <input type="password" name="password" id="password" placeholder="Passwort" required>

            <div class="custom-control custom-checkbox">
                <input type="checkbox" class="custom-control-input" name="checkbox" id="defaultUnchecked">
                <label class="custom-control-label" for="defaultUnchecked">Angemeldet bleiben</label>
            </div>
            <button type="submit" class="btn btn-outline-dark waves-effect">Success</button>
            <!--<button id="submitBtn" class="submit button pull-right" type="submit" name="submit">
                <i class="icon-signin"></i>
                Anmelden </button>-->
            <h3>
                <a id="reset-link" class=""  href="/">Passwort vergessen</a>
                <!-- Password vergessen Seite ersetzen-->
            </h3>
        </fieldset>
    </form>
</div>




<!--[if IE]>
<style>
    #loginBox:after { background-color: white !important; }
</style>
<![endif]-->
<script type="text/javascript" src="login/jquery-ui-1.12.1.custom.min.js.Download"></script>


</body></html>