<!DOCTYPE html>
<html lang="en">
<head>
    <title>Dallmann Asset-Management</title>
    <link rel="stylesheet" href="css/deviceManagement.css">
    <link rel="stylesheet" href="css/table.css">
    <link rel="stylesheet"
          href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          type="text/css">
    <script src="https://kit.fontawesome.com/a076d05399.js"></script>
    <script src="https://unpkg.com/leaflet@1.6.0/dist/leaflet.js"></script>
    <link rel="stylesheet"
          href="https://unpkg.com/leaflet@1.6.0/dist/leaflet.css"/>
    <script src="https://kit.fontawesome.com/a076d05399.js"></script>
    <link rel="stylesheet" href="css/headFootDesign.css">
    <script src="javascript/header.js"></script>

    <script
            src="https://code.jquery.com/jquery-3.5.1.js"
            integrity="sha256-QWo7LDvxbWT2tbbQ97B53yJnYU3WhH/C8ycbRAkjPDc="
            crossorigin="anonymous"></script>
    <link rel="stylesheet" type="text/css"
          href="https://cdn.datatables.net/1.10.22/css/jquery.dataTables.css">

    <script type="text/javascript" charset="utf8"
            src="https://cdn.datatables.net/1.10.22/js/jquery.dataTables.js"></script>

    <link rel="stylesheet"
          href="https://cdn.datatables.net/colreorder/1.5.2/css/colReorder.dataTables.min.css">
    <script src="https://cdn.datatables.net/colreorder/1.5.2/js/dataTables.colReorder.min.js"></script>


    <link rel="stylesheet"
          href="https://unpkg.com/leaflet@1.4.0/dist/leaflet.css"
          integrity="sha512-puBpdR0798OZvTTbP4A8Ix/l+A4dHDD0DGqYW6RQ+9jxkRFclaxxQb/SJAWZfWAkuyeQUytO7+7N4QKrDh+drA=="
          crossorigin=""/>

    <script src="https://unpkg.com/leaflet@1.4.0/dist/leaflet.js"
            integrity="sha512-QVftwZFqvtRNi0ZyCtsznlKSWOStnDORoefr1enyq5mVL4tmKB3S/EnC3rRJcxCPavG10IcrVGSmPh6Qw5lwrg=="
            crossorigin=""></script>

    <!-- Load Esri Leaflet from CDN -->
    <script src="https://unpkg.com/esri-leaflet@2.2.3/dist/esri-leaflet.js"
            integrity="sha512-YZ6b5bXRVwipfqul5krehD9qlbJzc6KOGXYsDjU9HHXW2gK57xmWl2gU6nAegiErAqFXhygKIsWPKbjLPXVb2g=="
            crossorigin=""></script>

    <!-- Load Esri Leaflet Geocoder from CDN -->
    <link rel="stylesheet"
          href="https://unpkg.com/esri-leaflet-geocoder@2.2.13/dist/esri-leaflet-geocoder.css"
          integrity="sha512-v5YmWLm8KqAAmg5808pETiccEohtt8rPVMGQ1jA6jqkWVydV5Cuz3nJ9fQ7ittSxvuqsvI9RSGfVoKPaAJZ/AQ=="
          crossorigin="">
    <script src="https://unpkg.com/esri-leaflet-geocoder@2.2.13/dist/esri-leaflet-geocoder.js"
            integrity="sha512-zdT4Pc2tIrc6uoYly2Wp8jh6EPEWaveqqD3sT0lf5yei19BC1WulGuh5CesB0ldBKZieKGD7Qyf/G0jdSe016A=="
            crossorigin=""></script>

    <link rel="icon" type="image/x-icon"
          href="https://www.dallmann-bau.de/fileadmin/template/favicon.png">

    <title>Dallmann Asset-Management</title>


</head>
<body>
<!-- NavigationBar Start -->
<%- include('../Views/general/header.ejs'); -%>
<!--Nav Ende -->

<br>
<div class="outerBox">
    <div class="wrapper">

        <div class="content">
            <h3>Geräteliste</h3>
            <div>
                <div class="newDeviceWrapper">
                    <% if (rights.add_device === 1){ %>
                        <form class="form" onclick="addDevicePopUp()">

                            <button class="btn btn-outline-warning"
                                    id="btn-newDevice"
                                    class="header_button">
                                Neues Gerät hinzufügen
                                <i class="fa fa-toolbox"></i>
                            </button>
                        </form>
                    <% } %>
                </div>
            </div>

            <table id="table" class="table user-list"
                   onload>
                <thead>
                <tr>
                    <th>Inventarnummer</th>
                    <th>Kategorie</th>
                    <th>Modell</th>
                    <th>Status</th>
                </tr>
                </thead>
                <tbody id="deviceContent">

                </tbody>
            </table>

                <table id="searchTable"></table>



        </div>
        <div class="deviceInformation">
            <h4>Standort</h4>
            <br>
            <div id="map"></div>
            <br>
            <div class="inputFields">
                <div class="box">
                    <h3>Geräteinformationen</h3>
                    <br>
                    <div class="box1">
                        <div class="deviceInfoWrapper box1">
                            <div class="deviceInfoBoxes">
                                <label for="inventarnummer" style="float: left">
                                    Inventarnummer: </label>
                                <div>
                                    <input class="form-control"
                                           type="text" value="Inventarnummer"
                                           id="invnumber"
                                           form="updateDevice"
                                           name="inventoryNumber" readonly>
                                </div>
                            </div>
                            <div class="deviceInfoBoxes">
                                <label for="manufacturer" style="float: left">
                                    Hersteller: </label>
                                <div>
                                    <input class="form-control"
                                           type="text" value="Herstellername"
                                           id="manufacturer"
                                           form="updateDevice"
                                           name="manufacturer"
                                           style="text-align: left">
                                </div>
                            </div>
                        </div>
                        <div class="deviceInfoWrapper box2">
                            <div class="deviceInfoBoxes">
                                <label for="category"> Kategorie: </label>
                                <div>
                                    <select class="browser-default custom-select form-control"
                                            id="category"
                                            form="updateDevice"
                                            onchange="getSelectedOption()"
                                            style="width: 100%; display: inline-block"
                                            name="category">
                                        <option selected disabled>Kategorie
                                        </option>
                                        <option value="1">Rüttelplatte
                                        </option>
                                        <option value="2">Stampfer</option>
                                        <option value="3">Motorflex</option>
                                        <option value="4">Rohrgreifer
                                        </option>
                                        <option value="5">Kettensäge</option>
                                        <option value="6">Motorhammer
                                        </option>
                                        <option value="7">Leiter</option>
                                        <option value="8">Exoten</option>
                                    </select>
                                </div>
                            </div>
                            <div class="deviceInfoBoxes">
                                <div>
                                    <label
                                            for="model">Modell:</label>
                                    <input type="text" class="form-control"
                                           name="model"
                                           form="updateDevice"
                                           value="Modell"
                                           id="model">
                                </div>
                            </div>
                        </div>
                        <div class="deviceInfoWrapper box3">
                            <div class="deviceInfoBoxes">
                                <label for="status"> Status:</label>
                                <div>
                                    <select class="browser-default
                                    custom-select form-control"
                                            id="status"
                                            onchange="getSelectedOption()"
                                            style="width: 100%; display:
                                    inline-block"
                                            form="updateDevice"
                                            name="deviceStatus">
                                        <option selected disabled>Status
                                        </option>
                                        <option value="1">Verfügbar</option>
                                        <option value="2">Ausgeliehen</option>
                                        <option value="3">In Wartung</option>
                                        <option value="4">Außer Betrieb</option>
                                        <option value="5">Defekt</option>
                                        <option value="6">
                                            Verschollen/Verschwunden
                                        </option>
                                        <option value="7">Gestohlen</option>
                                    </select>
                                </div>
                            </div>
                            <div class="deviceInfoBoxes">
                                <label for="serialNumber" style="float: left">
                                    Seriennummer: </label>
                                <div>
                                    <input class="form-control"
                                           form="updateDevice"
                                           type="text" value="Seriennummer"
                                           id="serialNumber"
                                           name="serialNumber">
                                </div>
                            </div>
                        </div>
                        <div class="deviceInfoWrapper box4">
                            <div class="deviceInfoBoxes">
                                <label for="guarantee"
                                       style="float: left">Garantie:</label>
                                <div>
                                    <input id="guarantee"
                                           name="guarantee"
                                           type="date"
                                           form="updateDevice"
                                           class="form-control">
                                </div>
                            </div>
                            <div class="deviceInfoBoxes">
                                <label for="technicalInspection"
                                       style="float: left">TÜV:</label>
                                <div>
                                    <input id="technicalInspection"
                                           name="technicalInspection"
                                           type="date"
                                           form="updateDevice"
                                           class="form-control">
                                </div>
                            </div>
                        </div>
                        <div class="deviceInfoWrapper box5">
                            <div class="deviceInfoBoxes">
                                <label for="accidentPrevention"
                                       style="float: left">UVV:</label>
                                <div>
                                    <input id="accidentPrevention"
                                           name="accidentPrevention"
                                           type="date"
                                           form="updateDevice"
                                           class="form-control">
                                </div>
                            </div>
                            <div class="deviceInfoBoxes" style="width: 350px">
                                <label>Position</label>

                                <div>
                                    <div style="float: left;">

                                        <input id="longitude"
                                               class="form-control"
                                               type="text" form="updateDevice"
                                               style="width: 170px;"
                                               placeholder="Longitude"
                                               readonly>
                                    </div>
                                    <div style="float: right">

                                        <input id="latitude"
                                               class="form-control"
                                               type="text" form="updateDevice"
                                               placeholder="Latiutde"
                                               style="width: 170px" readonly>
                                    </div>
                                </div>

                            </div>
                        </div>
                        <div class="deviceInfoWrapper box6">
                            <div class="deviceInfoBoxes">
                                <label for="note">Notiz</label>
                                <div>
                            <textarea class="form-control" name="note" id="note"
                                      placeholder="Notiz" form="updateDevice"
                                      rows="4"></textarea>
                                </div>
                            </div>
                            <div class="deviceInfoBoxes">
                                <label for="minor">Minor</label>
                                <input type="number" class="form-control"
                                       id="minor"
                                       form="updateDevice"
                                       name="beaconMinor">
                            </div>
                        </div>
                    </div>
                </div>


                <br>
                <hr>
                <div class="actionButton">

                    <% if (rights.edit_device === 1){ %>
                        <form class="btn-from" method="post"
                              action="/updateDevice" id="updateDevice">
                            <div>
                                <p>
                                    <button type="submit"
                                            class="btn btn-outline-primary">
                                        Daten ändern
                                    </button>
                                </p>
                            </div>
                        </form>
                    <% } %>

                    <form class="btn-from" method="post" action="/historie"
                          id="historie">
                        <div class="row">
                            <div class="col">
                                <div class="form-group">
                                    <button type="submit" class="btn btn-info">
                                        Historie
                                        anzeigen
                                    </button>
                                </div>
                            </div>
                        </div>
                    </form>

                    <% if (rights.booking_device === 1){ %>
                        <form class="btn-from" method="post" action="/booking"
                              id="booking">
                            <div class="row">
                                <div class="col">
                                    <div class="form-group">
                                        <button type="submit"
                                                class="btn btn-warning">Gerät
                                            reservieren
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </form>

                    <% } if (rights.booking_request === 1){ %>
                        <form class="btn-from" method="post"
                              action="/bookinglist"
                              id="booking">
                            <div class="row">
                                <div class="col">
                                    <div class="form-group">
                                        <button type="submit" class="btn
                                        btn-warning">
                                            Reservierungen
                                            für dieses Gerät anzeigen
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </form>

                    <% } if (rights.delete_device === 1){ %>
                        <form class="btn-from" method="post"
                              action="/deleteDevice" id="deleteDevice"
                              style="float: left">
                            <div class="row">
                                <div class="col">
                                    <div class="form-group">
                                        <button type="submit"
                                                class="btn btn-danger"
                                                onclick="deleteDeviceMessage()">
                                            Gerät
                                            löschen
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </form>
                    <% } %>
                </div>
            </div>
            <br>
            <hr>


        </div>

    </div>

</div>
<%if (searchValue === "" ){ %>
<input type="hidden" id="searchValue" value="">
<% }else {%>
<input type="hidden" id="searchValue" value="<%=searchValue%>">
<% } %>


<%- include('../Views/general/footer.ejs'); -%>
</body>
<style>
    td:nth-of-type(5) {
        display: none;
    }

    .deviceInfoBoxes {
        width: 350px;
    }


    div.toggle-inner {
        display: none;
    }

    div.toggle-inner.show {
        display: block !important;
    }
</style>
<script src="javascript/map.js"></script>
<script src="javascript/devicemanagement.js"></script>

</html>