<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Kommissionieren</title>
    <link rel="stylesheet" type="text/css" href="../css/headFootDesign.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css">
    <link rel="stylesheet" type="text/css" href="../css/booking.css">
</head>
<body>

<!-- NavigationBar Start -->
<%- include('../Views/general/header.ejs'); -%>
<!--Nav Ende -->

<div class="actionMenu">
    <div class="container">
        <div class="box">
            <a href="#">
                <div class="hoverColor">
                    <img class="boxImage" src="../img/construction.jpeg">
                    <div class="bottom-left">
                        <h2>Baustelle</h2>
                    </div>
                </div>
            </a>
        </div>
        <div class="box">
            <a href="#">
                <div class="hoverColor">
                    <img class="boxImage" src="../img/garage.jpeg">
                    <div class="bottom-left">
                        <h2>Reperatur</h2>
                    </div>
                </div>
            </a>
        </div>
        <div class="box">
            <a href="#">
                <div class="hoverColor">
                    <img class="boxImage" src="../img/warehouse.jpeg">
                    <div class="bottom-left">
                        <h2>Lager</h2>
                    </div>
                </div>
            </a>
        </div>
    </div>
</div>
<br>
<div class="inputMenu">
    <hr><br>
    <div class="inputConstruction">
        <label for="inputDevice"><h4>Baustelle</h4></label>
        <div id="inputDevice" class="inputBoxes">
            <div class="wrapper">
                <label for="exampleForm2">GeräteID</label>
                <input type="text" id="exampleForm2" class="form-control">
            </div>
            <div class="wrapper">
                <label for="exampleForm2">BaustellenID</label>
                <input type="text" id="exampleForm2" class="form-control">
            </div>
        </div>
    </div>

    <br><hr><br>

    <div class="inputRepair">
        <label for="inputDevice"><h4>Reperatur</h4></label>
        <div id="inputDevice" class="inputBoxes">
            <div class="wrapper">
                <label for="exampleForm2">GeräteID</label>
                <input type="text" id="exampleForm2" class="form-control">
            </div>
            <div class="wrapper">
                <label for="exampleForm2">BaustellenID</label>
                <input type="text" id="exampleForm2" class="form-control">
            </div>
        </div>
    </div>
    <br><hr><br>
    <div class="inputWarehouse">
        <label for="inputDevice"><h4>Lager</h4></label>
        <div id="inputDevice" class="inputBoxes">
            <div class="wrapper">
                <label for="exampleForm2">GeräteID</label>
                <input type="text" id="exampleForm2" class="form-control">
            </div>
        </div>
    </div>
</div>
<%- include('../Views/general/footer.ejs'); -%>
</body>
</html>
