<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Willkommen zurück <%= benutzername %></title>
    <link rel="stylesheet" type="text/css" href="css/startseite.css">
    <link rel="stylesheet" type="text/css" href="css/headFootDesign.css">
    <link rel="stylesheet" type="text/css" href="css/table.css">
    <link rel="icon" type="image/x-icon" href="https://www.dallmann-bau.de/fileadmin/template/favicon.png">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css">

</head>
<body>
<!-- NavigationBar Start -->
<%- include('../Views/general/header.ejs'); -%>
<!--Nav Ende -->
<main>
    <h1>Hier entsteht das Benutzerprofil</h>
</main>
<%- include('../Views/general/footer.ejs'); -%>
</body>
</html>