<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Reservierung</title>
    <link rel="stylesheet" type="text/css" href="../public/stylesheets/headFootDesign.css">
</head>
<body>
<!-- Menu Start -->
<header>
    <div id="menu">
        <div id="header-logo">
            <a href="Startseite.html">
                <img src="https://www.dallmann-bau.de/fileadmin/template/img/Logo-Dallmann.png"></a>
        </div>
        <div id="header-menu">
            <nav id="main-menu">
                <ul>
                    <li>
                        <a href="GeräteAnzeige.html">
                            <img src="../public/picture/device.jpg" class="header-icons">
                            <tab>
                                Geräte
                            </tab>
                        </a>
                        <ul class="main-menu-sub">
                            <li>
                                <a href="/">Gerät hinzufügen</a>
                            </li>
                        </ul>

                    </li>
                    <!-- Reservierung -->
                    <li>
                        <a href="Reservierung.html">
                            <img src="../public/picture/calendar.png" class="header-icons">
                            <tab class="header-icons-description">
                                Reservierung
                            </tab>
                        </a>
                        <ul class="main-menu-sub">
                            <li>
                                <a href="/">Reservierung vornehmen</a>
                            </li>
                            <li>
                                <a href="/">Reservierungsliste einsehen</a>
                            </li>
                        </ul>

                    </li>
                    <!-- Benutzer -->
                    <li>
                        <a href="Startseite.html">
                            <img src="../public/picture/worker.jpg" class="header-icons">
                            <tab class="header-icons-description">
                                Benutzerprofil
                            </tab>
                        </a>
                        <ul class="main-menu-sub">
                            <li>
                                <a href="/">Berechtigungen</a>
                            </li>
                            <li>
                                <a href="/">Benutzername</a>
                            </li>
                        </ul>
                    </li>

                    <!-- Suche -->
                    <li>
                        <a href="/">
                            <img class="header-icons" src="../public/picture/Search%20Icon.png">
                        </a>
                        <tab class="header-icons-description">
                            <input id="header-Search" class="form-control" type="text" placeholder="Search" aria-label="Search">
                        </tab>

                    </li>

                    <!-- Logout -->
                    <li>
                        <a href="/">
                            <img class="header-icons" src="../public/picture/powerButton.png">
                        </a>
                    </li>
                </ul>
            </nav>
        </div>
    </div>
</header>
<hr class="clear">
<!-- Menu End -->
<img src="../public/picture/meme.jpg">

</body>
</html>