<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Reservierung</title>
    <link rel="stylesheet" type="text/css" href="stylesheets/headFootDesign.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css">
</head>
<body>
<!-- Menu Start -->
<header>
    <div id="menu">
        <div id="header-logo">
            <a href="index.html">
                <img src="https://www.dallmann-bau.de/fileadmin/template/img/Logo-Dallmann.png"
                     alt="Firmenlogo Dallmann"></a>
        </div>
        <div id="header-menu">
            <nav id="main-menu">
                <ul>
                    <li>
                        <a href="GeräteAnzeige.html">
                            <i class="fas fa-briefcase"></i>
                            <tab class="header-icons-description">
                                Geräte
                            </tab>
                        </a>
                        <ul class="main-menu-sub">
                            <li>
                                <a href="/">Gerät hinzufügen</a>
                            </li>
                        </ul>

                    </li>
                    <!-- Reservierung -->
                    <li>
                        <a href="Reservierung.html">
                            <i class="fas fa-calendar-alt"></i>
                            <tab class="header-icons-description">
                                Reservierung
                            </tab>
                        </a>
                        <ul class="main-menu-sub">
                            <li>
                                <a href="/">Reservierung vornehmen</a>
                            </li>
                            <li>
                                <a href="/">Reservierungsliste einsehen</a>
                            </li>
                        </ul>

                    </li>
                    <!-- Benutzer -->
                    <li>
                        <a href="index.html">
                            <!--<img src="../public/picture/worker.jpg" class="header-icons"
                                 alt="Bauarbeiter Icon">-->
                            <i class="fas fa-user"></i>
                            <tab class="header-icons-description">
                                Benutzerprofil
                            </tab>
                        </a>
                        <ul class="main-menu-sub">
                            <li>
                                <a href="/">Berechtigungen</a>
                            </li>
                            <li>
                                <a href="/">Benutzername</a>
                            </li>
                        </ul>
                    </li>

                    <!-- Suche -->
                    <li>
                        <a href="/">
                            <i class="fas fa-search"></i>
                        </a>
                        <tab class="header-icons-description">
                            <input id="header-Search" class="form-control" type="text"
                                   placeholder="java.Search" aria-label="java.Search">
                        </tab>

                    </li>

                    <!-- Logout -->
                    <li>
                        <a href="/">
                            <i class="fas fa-power-off fa-1x"></i>
                        </a>
                    </li>
                </ul>
            </nav>
        </div>
    </div>
</header>
<hr class="clear">
<!-- Menu End -->
<img src="../public/picture/meme.jpg">

</body>
</html>