<!DOCTYPE html>
<html lang="en">
<head>


    <link rel="stylesheet" href="css/search.css">

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" type="text/css">
    <script  src="https://kit.fontawesome.com/a076d05399.js"></script>
    <link rel="icon" type="image/x-icon"
          href="https://www.dallmann-bau.de/fileadmin/template/favicon.png">

    <title>Dallmann Asset-Management</title>
</head>
<body>
<!-- NavigationBar Start -->
<%- include('../Views/general/header.ejs'); -%>
<!--Nav Ende -->

<table>
    <tr>
        <th colspan="2">Suchmethoden</th>
        <th></th>
    </tr>
    <tr>
        <td><form  method="post" action="/searchStatus">
                <select onchange="this.form.submit()" name="status"
                        class="searchInputs" id="sort" style="width: 100%; display:
                        inline-block">
                    <option value="0" selected
                            disabled>Status</option>
                    <option value="1">Verfügbar</option>
                    <option value="2">Ausgeliehen</option>
                    <option value="3">In Wartung</option>
                    <option value="4">Außer Betrieb</option>
                    <option value="5">Verschollen/Verschwunden</option>
                    <option value="6">Gestohlen</option>
                </select>
            </form></td>
        <td><form method="post" action="/searchCategory">

                <select class="searchInputs"
                        id="category"
                        onchange="this.form.submit()"
                        style="width: 100%; display: inline-block"
                        name="category">
                    <option selected disabled>Kategorie</option>
                    <option value="Rüttelplatte">Rüttelplatte</option>
                    <option value="Stampfer">Stampfer</option>
                    <option value="Motorflex">Motorflex</option>
                    <option value="Rohrgreifer">Rohrgreifer</option>
                    <option value="Kettensäge">Kettensäge</option>
                    <option value="Motorhammer">Motorhammer</option>
                    <option value="Leiter">Leiter</option>
                    <option value="Exoten">Exoten</option>
                </select>
            </form></td>
    </tr>

    <tr>
        <td><form method="post" action="/searchModel">
                <input onchange="this.form.submit()" type="text" name="model"
                        id="model" class="searchInputs" placeholder="Model">
            </form></td>
        <td><form method="post" action="/searchTuv">
                <input placeholder="TÜV" class="searchInputs" type="text"
                       onfocus="(this.type='date')" onblur="(this
                       .type='text')" onchange="this.form.submit()" name="tuev">
            </form></td>
    </tr>

    <tr>
        <td><form method="post" action="/searchUvv">
                <input onchange="this.form.submit()" type="text" name="uvv"
                       placeholder="UVV" onfocus="(this
                .type='date')" onblur="(this
                       .type='text')"
                        id="uvv" class="searchInputs">
            </form></td>
        <td><form method="post" action="/searchRepair">
                <input onchange="this.form.submit()" onfocus="(this
                .type='date')" onblur="(this
                       .type='text')" type="text" name="repair"
                       id="repair" class="searchInputs"
                       placeholder="Reparaturdatum">
            </form></td>
    </tr>
</table>
<%- include('../Views/general/footer.ejs'); -%>