<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Willkommen zurück</title>
    <link rel="stylesheet" type="text/css" href="../public/stylesheets/headFootDesign.css">
    <link rel="stylesheet" type="text/css" href="../public/stylesheets/startseite.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css">
</head>
<body>
<!-- NavigationBar Start -->
<header>
    <div id="menu">
        <div id="header-logo">
            <a href="Startseite.html">
                <img src="https://www.dallmann-bau.de/fileadmin/template/img/Logo-Dallmann.png" alt="Firmenlogo Dallmann"></a>
        </div>
        <div id="header-menu">
            <nav id="main-menu">
                <ul>
                    <li>
                        <a href="GeräteAnzeige.html">
                            <img src="../public/picture/device.jpg" class="header-icons" alt="Geräte Icon">
                            <tab class="header-icons-description">
                                Geräte
                            </tab>
                        </a>
                        <ul class="main-menu-sub">
                            <li>
                                <a href="/">Gerät hinzufügen</a>
                            </li>
                        </ul>

                    </li>
                    <!-- Reservierung -->
                    <li>
                        <a href="Reservierung.html">
                            <img src="../public/picture/calendar.png" class="header-icons" alt="Kalender Icon">
                            <tab class="header-icons-description">
                                Reservierung
                            </tab>
                        </a>
                        <ul class="main-menu-sub">
                            <li>
                                <a href="/">Reservierung vornehmen</a>
                            </li>
                            <li>
                                <a href="/">Reservierungsliste einsehen</a>
                            </li>
                        </ul>

                    </li>
                    <!-- Benutzer -->
                    <li>
                        <a href="Startseite.html">
                            <img src="../public/picture/worker.jpg" class="header-icons" alt="Bauarbeiter Icon">
                            <tab class="header-icons-description">
                                Benutzerprofil
                            </tab>
                        </a>
                        <ul class="main-menu-sub">
                            <li>
                                <a href="/">Berechtigungen</a>
                            </li>
                            <li>
                                <a href="/">Benutzername</a>
                            </li>
                        </ul>
                    </li>

                    <!-- Suche -->
                    <li>
                        <a href="/">
                            <img class="header-icons" src="../public/picture/Search%20Icon.png" alt="Such Icon">
                        </a>
                        <tab class="header-icons-description">
                            <input id="header-Search" class="form-control" type="text" placeholder="Search" aria-label="Search">
                        </tab>

                    </li>

                    <!-- Logout -->
                    <li>
                        <a href="/">
                            <img class="header-icons" src="../public/picture/powerButton.png" alt="Ein/Aus Icon">
                        </a>
                    </li>
                </ul>
            </nav>
        </div>
    </div>
</header>
<hr class="clear">

<!-- NavigationBar Ende / Inhalt Start -->

<div id="main">
    <div id="Content">
        <h3>bereits hinzugefügte Geräte</h3>
        <p>4000</p>
        <img id="firstContent-icon" src="https://img.icons8.com/metro/100/000000/device-manager.png">

        <div id="Content-link">
            <table>
                <tr>
                    <td>
                        <a href="Startseite.html">Geräte anzeigen</a>

                    </td>
                </tr>
            </table>
        </div>
    </div>
    <div id="Content1">
        <h3>kürzlich hinzugefügt</h3>
        <p>Bohrmaschine</p>

        <div id="Content1-link">
            <table>
                <tr>
                    <td>
                        <a href="Startseite.html">Geräte anzeigen</a>

                    </td>
                </tr>
            </table>
        </div>
    </div>
</div>

<!-- Inhalt Ende / Footer Start -->
<footer>
    <p>Softwareentwicklungsprojekt 2020 Bosse, Brans, Dziersan, Eickmann, Kottmann, Petersen </p>
</footer>
</body>
</html>