<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Willkommen zurück</title>
    <link rel="stylesheet" type="text/css" href="../public/stylesheets/navigationBar.css">
</head>
<body>
<!-- NavigationBar -->
<header>
    <div id="menu">
        <div id="header-logo">
            <a href="Startseite.html">
                <img src="https://www.dallmann-bau.de/fileadmin/template/img/Logo-Dallmann.png"></a>
        </div>
        <div id="header-caption">
            <h1>Asset-Management</h1>
        </div>
        <div id="header-menu">
            <nav id="main-menu">
                <ul>
                <!-- Reservierung -->
                    <li>
                        <a href="Reservierung.html">
                            <img src="../public/picture/calendar.png" class="header-icons">
                            <tab class="header-icons-description">
                                Reservierung
                            </tab>
                        </a>
                            <ul class="main-menu-sub">
                                <li>
                                    <a href="/">Reservierung vornehmen</a>
                                </li>
                                <li>
                                    <a href="/">Reservierungsliste einsehen</a>
                                </li>
                            </ul>

                    </li>
                <!-- Benutzer -->
                    <li>
                        <a href="Startseite.html">
                            <img src="../public/picture/worker.jpg" class="header-icons">
                            <tab class="header-icons-description">
                                Benutzerprofil
                            </tab>
                        </a>
                        <ul class="main-menu-sub">
                            <li>
                                <a href="/">Berechtigungen</a>
                            </li>
                            <li>
                                <a href="/">Benutzername</a>
                            </li>
                        </ul>
                    </li>

                 <!-- Suche -->
                    <li>
                        <a href="/">
                            <img class="header-icons" src="../public/picture/Search%20Icon.png">
                        </a>
                        <tab class="header-icons-description">
                            <input type="number" name="search" id="header-Search" value="123456" >
                        </tab>

                    </li>

                 <!-- Logout -->
                    <li>
                        <a href="/">
                            <img class="header-icons" src="../public/picture/powerButton.png">
                        </a>
                    </li>
                </ul>
            </nav>
        </div>
    </div>
</header>
<hr class="clear">
<!-- NavigationBar -->

<div id="main">
    <table id="allreadyaddedDevices">
        <tr>
            <th>Anzahl bereits hinzugefügter Geräte</th>
        </tr>
        <tr>
            <td>200</td>
        </tr>

    </table>
</div>


<footer>
    Test
</footer>


</body>
</html>